.contact-section{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--color-light-3);
    .main_title {
        position: relative;
        margin-bottom: 45px;
        text-align: center;
        h2 {
            font-size: 2.25rem;
            font-weight: 500;
            margin: 0;
            position: relative;
            z-index: 2;
        }
        p {
            font-size: 1.4375rem;
            font-weight: 300;
            padding: 0 15%;
            position: relative;
            z-index: 2;
        }
    }

    .contact-box{
        background-color: var(--color-light);
        padding: 25px 15px;
        border-radius: 3px;
        margin-bottom: 15px;
        text-align: center;
        font-size: 0.9375rem;
        i {
            font-size: 2.875rem;
            color: var(--color-primary);
            margin-bottom: 10px;
        }
        h2 {
            font-weight: 500;
            margin: 10px 0 10px 0;
            font-size: 1.3125rem;
        }
        a{
            color: var(--color-dark-2);
        }
        small {
            display: block;
            color: var(--color-light-8);
        }
    }
}
.contact-subscription-section{
    padding-top: 60px;
    padding-bottom: 35px;
    background-color: var(--color-light);
    h4{
        padding-bottom: 1rem;
        color: var(--color-dark);
    }
    .form-control{
        padding: 10px;
        font-size: 0.875rem;
        border-radius: 3px;
        border: 1px solid var(--color-light-4);
        height: calc(1.75em + .75rem + 2px);
        position: relative;
        &:focus {
            border-color: var(--color-light-6);
            outline: 0;
            box-shadow: 0 0 0 0.2rem var(--color-transparent-5);
        }
    }
    textarea{
        height: 150px!important;
    }
    .btn_1 {
        border: none;
        color: var(--color-light);
        background: var(--color-primary);
        outline: none;
        cursor: pointer;
        display: inline-block;
        text-decoration: none;
        padding: 12px 25px;
        font-weight: 500;
        text-align: center;
        font-size: 14px;
        font-size: 0.875rem;
        transition: all 0.3s ease-in-out;
        border-radius: 3px;
        line-height: normal;
        &:hover{
            background: var(--color-secondary);
        }
        &.full-width {
            display: block;
            width: 100%;
            text-align: center;
            margin-bottom: 5px;
        }
    }
    .map_contact {
        border: 0;
        width: 100%;
        height: 315px;
        margin-bottom: 25px;
    }
}