<div class="product-cart-section">
  <div class="container">
    <div class="row ">
      <div class="col-lg-12">
        <div class="page-header">
          <div class="breadcrumbs">
              <ul>
                  <li><a href="#">Home</a></li>
                  <li><a href="#">Category</a></li>
                  <li>Page active</li>
              </ul>
          </div>
          <h1>Cart page</h1>
        </div>

        <table class="table table-striped product-cart-list">
          <thead>
            <tr>
              <th>
                Product
              </th>
              <th>
                Price
              </th>
              <th>
                Quantity
              </th>
              <th>
                Subtotal
              </th>
              <th>
                
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="thumb_cart">
                  <img src="https://via.placeholder.com/400x400?text=product"  class="lazy loaded" alt="Image" data-was-processed="true">
                </div>
                <span class="item_cart">Armor Air x Fear</span>
              </td>
              <td>
                <strong>$140.00</strong>
              </td>
              <td>
                <div class="numbers-row">
                  <input type="text" value="1" id="quantity_1" class="qty2" name="quantity_1">
                <div class="inc button_inc">+</div><div class="dec button_inc">-</div><div class="inc button_inc">+</div><div class="dec button_inc">-</div></div>
              </td>
              <td>
                <strong>$140.00</strong>
              </td>
              <td class="options">
                <a href="#"><i class="far fa-trash-alt"></i></a>
              </td>
            </tr>
            <tr>
              <td>
                <div class="thumb_cart">
                  <img src="https://via.placeholder.com/400x400?text=product"  class="lazy loaded" alt="Image" data-was-processed="true">
                </div>
                <span class="item_cart">Armor Okwahn II</span>
              </td>
              <td>
                <strong>$110.00</strong>
              </td>
              <td>
                <div class="numbers-row">
                  <input type="text" value="1" id="quantity_2" class="qty2" name="quantity_2">
                <div class="inc button_inc">+</div><div class="dec button_inc">-</div><div class="inc button_inc">+</div><div class="dec button_inc">-</div></div>
              </td>
              <td>
                <strong>$110.00</strong>
              </td>
              <td class="options">
                <a href="#"><i class="far fa-trash-alt"></i></a>
              </td>
            </tr>
            <tr>
              <td>
                <div class="thumb_cart">
                  <img src="https://via.placeholder.com/400x400?text=product" class="lazy loaded" alt="Image" data-was-processed="true">
                </div>
                <span class="item_cart">Armor Air Wildwood ACG</span>
              </td>
              <td>
                <strong>$90.00</strong>
              </td>
              
              <td>
                <div class="numbers-row">
                  <input type="text" value="1" id="quantity_3" class="qty2" name="quantity_3">
                <div class="inc button_inc">+</div><div class="dec button_inc">-</div><div class="inc button_inc">+</div><div class="dec button_inc">-</div></div>
              </td>
              <td>
                <strong>$90.00</strong>
              </td>
              <td class="options">
                <a href="#"><i class="far fa-trash-alt"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="row flex-sm-row-reverse product-cart-actions">
          <div class="col-sm-4 text-right">
            <button type="button" class="btn_1 grey">Update Cart</button>
          </div>
            <div class="col-sm-8">
            <div class="apply-coupon">
              <div class="form-group form-inline">
                <input type="text" name="coupon-code" value="" placeholder="Promo code" class="form-control"><button type="button" class="btn_1 outline">Apply Coupon</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="product-box-cart">
  <div class="container">
  <div class="row justify-content-end">
    <div class="col-xl-4 col-lg-4 col-md-6">
  <ul>
    <li>
      <span>Subtotal</span> $240.00
    </li>
    <li>
      <span>Shipping</span> $7.00
    </li>
    <li>
      <span>Total</span> $247.00
    </li>
  </ul>
  <a [routerLink]="['/checkout']" class="btn_1 full-width cart">Proceed to Checkout</a>
      </div>
    </div>
  </div>
</div>