.product-cart-section{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var(--color-light-3);
    .page-header{
        margin-bottom: 30px;
        .breadcrumbs {
            color: var(--color-dark-2);
            ul{
                margin: 0 0 10px 0;
                padding: 0;
                font-size: 0.75rem;
                li{
                    display: inline-block;
                    margin-right: 7px;
                    padding-right: 8px;
                    position: relative;
                    font-weight: 500;
                    &:after{
                        content: "\f105";
                        font-family: 'Font Awesome 5 Free';
                        font-weight: 900;
                        font-size: 0.8rem;
                        position: absolute;
                        display: inline-block;
                        top: 0px;
                        margin-left: 3px;
                    }
                    a{
                        color: var(--color-dark-2);
                        opacity: 0.6;
                        &:hover {
                            color: var(--color-dark);
                            opacity: 1;
                        }

                    }
                    &:last-child::after {
                        content: '';
                        margin-right: 0;
                    }
                    &:after {
                        color: var(--color-dark-2);
                        opacity: 0.6;
                    }
                }
            }
        }
        h1 {
            font-size: 1.5rem;
            margin: 0 0 5px 0;
            color: var(--color-dark)
        }
    }

    .product-cart-list{
        margin: 0;
        th{
            background-color: var(--color-transparent);
            text-transform: uppercase;
            font-weight: normal;
            color: var(--color-dark);
            border: 0;
            padding-top: 0;
            &:nth-child(1) {
            width: 70%;
            }
            &:nth-child(2) {
                width: 15%;
            }
            &:nth-child(3) {
                width: 20%;
            }
            &:nth-child(4) {
                width: 5%;
            }
        }
        td {
            vertical-align: middle;
            border: 0;
            strong {
                font-weight: 500;
            }
            .numbers-row{
                position: relative;
                width: 100%;
                height: 40px;
                overflow: visible;
                border: 1px solid var(--color-light-4);
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                -ms-border-radius: 3px;
                border-radius: 3px;
                background-color: var(--color-light);
                text-align: left !important;
                input {
                    position: relative;
                    width: 40px;
                    height: 40px;
                    text-align: center;
                    left: 50%;
                    background: none;
                    padding: 5px;
                    border: none;
                    margin-left: -20px;
                    outline: none;
                    &[type=number] {
                        -moz-appearance: textfield;
                      }
                      &::-webkit-outer-spin-button,&::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                      }
                }
                .button_inc {
                    cursor: pointer;
                    position: absolute;
                    width: 33px;
                    height: 40px;
                    line-height: 38px;
                    text-align: center;
                    z-index: 2;
                    font-size: 26px;
                    font-size: 1.625rem;
                    font-weight: 300;
                    color: var(--color-light-5);
                    &.inc {
                        right: 0;
                        top: 0;
                    }
                    &.dec {
                        left: 0;
                        top: 0;
                    }
    
                }
            }
            &.options{
                 a {
                display: inline-block;
                margin-right: 10px;
                }
            }
        }
        &.table-striped {
            tbody{
                 tr{
                     &:nth-of-type(2n+1) {
                     background-color: var(--color-transparent-5);
                     }
                 }
            }
        }
        .thumb_cart {
            width: 60px;
            height: 60px;
            overflow: hidden;
            margin-right: 10px;
            float: left;
            position: relative;
            background-color: var(--color-light);
            padding: 5px;
            box-sizing: content-box;
            img {
                width: 60px;
                height: auto;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%) scale(1.1);
            }
        }
        .item_cart {
            float: left;
            width: 65%;
            margin: 25px 0 0 10px;
            line-height: 1.3;
            font-weight: 500;
        }
    }
    .product-cart-actions{
        margin-top: 30px;

        .btn_1{
                border: none;
                outline: none;
                cursor: pointer;
                display: inline-block;
                text-decoration: none;
                padding: 12px 25px;
                font-weight: 700;
                text-align: center;
                font-size: 0.875rem;
                transition: all 0.3s ease-in-out;
                border-radius: 3px;
                line-height: normal;
            &.grey {
            background: var(--color-light-7);
            color: var(--color-dark);
            &:hover{
                background: var(--color-secondary);
            }
            }
            &.outline {
                border: 2px solid var(--color-dark);
                color: var(--color-dark);
                padding: 10px 30px;
                background: none;
            }
        }
        input{
            margin-right: 10px;
        }
    }
}

.product-box-cart{
    background-color: var(--color-light);
    padding: 30px 0;
    text-align: right;
    ul {
        list-style: none;
        margin: 0 0 15px 0;
        padding: 0;
        font-weight: 500;
        font-size: 1rem;
        li{
             span {
                float: left;
             }
             &:last-child {
                margin-top: 10px;
                text-transform: uppercase;
                font-weight: bold;
                color: var(--color-danger);
                font-size: 1.3125rem;
            }
        }
    }
    
    .btn_1{
        border: none;
        outline: none;
        cursor: pointer;
        display: inline-block;
        text-decoration: none;
        padding: 12px 25px;
        font-weight: 500;
        text-align: center;
        font-size: 0.875rem;
        transition: all 0.3s ease-in-out;
        border-radius: 3px;
        line-height: normal;
        background-color: var(--color-primary);
        color: var(--color-light);
            &.full-width {
                display: block;
                width: 100%;
                text-align: center;
                margin-bottom: 5px;
            }
            &:hover{
                background: var(--color-secondary);
            }
    }
}