<div class="top_banner_section" style='background-image: url("https://via.placeholder.com/1200x800?text=Top Banner");'>

  <div class="overlay_content d-flex align-items-center">

    <div class="container">
      <div class="row justify-content-center justify-content-md-start">
        <div class="col-lg-6">
          <div class="breadcrumbs">
						<ul>
							<li><a href="#">Home</a></li>
							<li><a href="#">Category</a></li>
							<li>Page active</li>
						</ul>
					</div>
          <h1>Shoes - Grid listing</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="toolbox_section">
  <div class="container">
    <ul class="clearfix">
      <li>
        <div class="sort_select">
          <select name="sort" id="sort">
            <option value="popularity" selected="selected">Sort by popularity</option>
            <option value="rating">Sort by average rating</option>
            <option value="date">Sort by newness</option>
            <option value="price">Sort by price: low to high</option>
            <option value="price-desc">Sort by price: high to </option>
          </select>
        </div>
      </li>
      <li>
        <a href="product-list"><i class="fas fa-th-large"></i></a>
        <a href="product-list-sidebar"><i class="fas fa-list-ul"></i></a>
      </li>
    </ul>

    </div>
</div>

<div class="product_listing_section padding">
  <div class="container">
    <div class="row ">
      <div class="col-lg-3 ">
        <div class="filters_listing_sidebar">
        <ngb-accordion #acc="ngbAccordion" activeIds="toggle-1">
          <ngb-panel id="toggle-1" title="Categories">
            <ng-template ngbPanelContent let-opened="opened">
              <div class="filter_type">
                <ul>
                  <li>
                    <label class="container_check">Men <small>12</small>
                      <input type="checkbox">
                      <span class="checkmark"></span>
                    </label>
                  </li>
                  <li>
                    <label class="container_check">Women <small>24</small>
                      <input type="checkbox">
                      <span class="checkmark"></span>
                    </label>
                  </li>
                  <li>
                    <label class="container_check">Running <small>23</small>
                      <input type="checkbox">
                      <span class="checkmark"></span>
                    </label>
                  </li>
                  <li>
                    <label class="container_check">Training <small>11</small>
                      <input type="checkbox">
                      <span class="checkmark"></span>
                    </label>
                  </li>
                </ul>
              </div>
            </ng-template>
          </ngb-panel>
          <ngb-panel id="toggle-2" title="Color">
            <ng-template ngbPanelContent>
              <div class="filter_type">
                <ul>
                  <li>
                    <label class="container_check">Blue <small>06</small>
                      <input type="checkbox">
                      <span class="checkmark"></span>
                    </label>
                  </li>
                  <li>
                    <label class="container_check">Red <small>12</small>
                      <input type="checkbox">
                      <span class="checkmark"></span>
                    </label>
                  </li>
                  <li>
                    <label class="container_check">Orange <small>17</small>
                      <input type="checkbox">
                      <span class="checkmark"></span>
                    </label>
                  </li>
                  <li>
                    <label class="container_check">Black <small>43</small>
                      <input type="checkbox">
                      <span class="checkmark"></span>
                    </label>
                  </li>
                </ul>
              </div>
            </ng-template>
          </ngb-panel>
          <ngb-panel id="toggle-3" title="Brands">
            <ng-template ngbPanelContent>
              <div class="filter_type">
                <ul>
                  <li>
                    <label class="container_check">Adidas <small>11</small>
                      <input type="checkbox">
                      <span class="checkmark"></span>
                    </label>
                  </li>
                  <li>
                    <label class="container_check">Nike <small>08</small>
                      <input type="checkbox">
                      <span class="checkmark"></span>
                    </label>
                  </li>
                  <li>
                    <label class="container_check">Vans <small>05</small>
                      <input type="checkbox">
                      <span class="checkmark"></span>
                    </label>
                  </li>
                  <li>
                    <label class="container_check">Puma <small>18</small>
                      <input type="checkbox">
                      <span class="checkmark"></span>
                    </label>
                  </li>
                </ul>
              </div>
            </ng-template>
          </ngb-panel>
          <ngb-panel id="toggle-4" title="Price">
            <ng-template ngbPanelContent>
              <div class="filter_type">
                <ul>
                  <li>
                    <label class="container_check">$0 — $50<small>11</small>
                      <input type="checkbox">
                      <span class="checkmark"></span>
                    </label>
                  </li>
                  <li>
                    <label class="container_check">$50 — $100<small>08</small>
                      <input type="checkbox">
                      <span class="checkmark"></span>
                    </label>
                  </li>
                  <li>
                    <label class="container_check">$100 — $150<small>05</small>
                      <input type="checkbox">
                      <span class="checkmark"></span>
                    </label>
                  </li>
                  <li>
                    <label class="container_check">$150 — $200<small>18</small>
                      <input type="checkbox">
                      <span class="checkmark"></span>
                    </label>
                  </li>
                </ul>
              </div>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
        <div class="card button-filters">
          <div class="card-body">
            <div class="buttons">
            <a href="#" class="btn_1">Filter</a>
            <a href="#" class="btn_1 grey-color">Reset</a>
            </div>
          </div>
        </div>
        </div>

      </div>
      <div class="col-lg-9">
        <div class="row item-container">
          <div class="col-sm-4">
              <figure>
                <span class="ribbon off">-30%</span>
                <a href="product-detail-1.php">
                  <img class="img-fluid" src="https://via.placeholder.com/400x400?text=products" alt="">
                </a>
                <div class="countdown">00D 00:00:00</div>
              </figure>
          </div>
          <div class="col-sm-8">
            <div class="rating"><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star"></i></div>
            <a href="product-detail-1.php">
              <h3>Armor Air x Fear</h3>
            </a>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident...</p>
            <div class="price_box">
              <span class="new_price">$48.00</span>
              <span class="old_price">$60.00</span>
            </div>
            <ul>
              <li><a href="#" class="btn_1"  title="" >Add to cart</a></li>
              <li><a href="#" class="btn_1 grey-color"  title="" placement="top" ngbTooltip="Add to favorites"><i class="far fa-heart"></i></a></li>
              <li><a href="#" class="btn_1 grey-color"  title="" placement="top" ngbTooltip="Add to compare"><i class="fas fa-random"></i></a></li>
              
            </ul>
          </div>
        </div>

        <div class="row item-container">
          <div class="col-sm-4">
              <figure>
                <span class="ribbon off">-30%</span>
                <a href="product-detail-1.php">
                  <img class="img-fluid" src="https://via.placeholder.com/400x400?text=products" alt="">
                </a>
                <div class="countdown">00D 00:00:00</div>
              </figure>
          </div>
          <div class="col-sm-8">
            <div class="rating"><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star"></i></div>
            <a href="product-detail-1.php">
              <h3>Armor Air x Fear</h3>
            </a>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident...</p>
            <div class="price_box">
              <span class="new_price">$48.00</span>
              <span class="old_price">$60.00</span>
            </div>
            <ul>
              <li><a href="#" class="btn_1"  title="" >Add to cart</a></li>
              <li><a href="#" class="btn_1 grey-color"  title="" placement="top" ngbTooltip="Add to favorites"><i class="far fa-heart"></i></a></li>
              <li><a href="#" class="btn_1 grey-color"  title="" placement="top" ngbTooltip="Add to compare"><i class="fas fa-random"></i></a></li>
              
            </ul>
          </div>
        </div>

        <div class="row item-container">
          <div class="col-sm-4">
              <figure>
                <span class="ribbon off">-30%</span>
                <a href="product-detail-1.php">
                  <img class="img-fluid" src="https://via.placeholder.com/400x400?text=products" alt="">
                </a>
                <div class="countdown">00D 00:00:00</div>
              </figure>
          </div>
          <div class="col-sm-8">
            <div class="rating"><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star"></i></div>
            <a href="product-detail-1.php">
              <h3>Armor Air x Fear</h3>
            </a>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident...</p>
            <div class="price_box">
              <span class="new_price">$48.00</span>
              <span class="old_price">$60.00</span>
            </div>
            <ul>
              <li><a href="#" class="btn_1"  title="" >Add to cart</a></li>
              <li><a href="#" class="btn_1 grey-color"  title="" placement="top" ngbTooltip="Add to favorites"><i class="far fa-heart"></i></a></li>
              <li><a href="#" class="btn_1 grey-color"  title="" placement="top" ngbTooltip="Add to compare"><i class="fas fa-random"></i></a></li>
              
            </ul>
          </div>
        </div>

        <div class="row item-container">
          <div class="col-sm-4">
              <figure>
                <span class="ribbon off">-30%</span>
                <a href="product-detail-1.php">
                  <img class="img-fluid" src="https://via.placeholder.com/400x400?text=products" alt="">
                </a>
                <div class="countdown">00D 00:00:00</div>
              </figure>
          </div>
          <div class="col-sm-8">
            <div class="rating"><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star"></i></div>
            <a href="product-detail-1.php">
              <h3>Armor Air x Fear</h3>
            </a>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident...</p>
            <div class="price_box">
              <span class="new_price">$48.00</span>
              <span class="old_price">$60.00</span>
            </div>
            <ul>
              <li><a href="#" class="btn_1"  title="" >Add to cart</a></li>
              <li><a href="#" class="btn_1 grey-color"  title="" placement="top" ngbTooltip="Add to favorites"><i class="far fa-heart"></i></a></li>
              <li><a href="#" class="btn_1 grey-color"  title="" placement="top" ngbTooltip="Add to compare"><i class="fas fa-random"></i></a></li>
              
            </ul>
          </div>
        </div>

        <div class="row item-container">
          <div class="col-sm-4">
              <figure>
                <span class="ribbon off">-30%</span>
                <a href="product-detail-1.php">
                  <img class="img-fluid" src="https://via.placeholder.com/400x400?text=products" alt="">
                </a>
                <div class="countdown">00D 00:00:00</div>
              </figure>
          </div>
          <div class="col-sm-8">
            <div class="rating"><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star"></i></div>
            <a href="product-detail-1.php">
              <h3>Armor Air x Fear</h3>
            </a>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident...</p>
            <div class="price_box">
              <span class="new_price">$48.00</span>
              <span class="old_price">$60.00</span>
            </div>
            <ul>
              <li><a href="#" class="btn_1"  title="" >Add to cart</a></li>
              <li><a href="#" class="btn_1 grey-color"  title="" placement="top" ngbTooltip="Add to favorites"><i class="far fa-heart"></i></a></li>
              <li><a href="#" class="btn_1 grey-color"  title="" placement="top" ngbTooltip="Add to compare"><i class="fas fa-random"></i></a></li>
              
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="pagination_section">
              <ul class="pagination">
                <li><a href="#" class="prev" title="previous page"><i class="fas fa-angle-left"></i></a></li>
                <li>
                  <a href="#" class="active">1</a>
                </li>
                <li>
                  <a href="#">2</a>
                </li>
                <li>
                  <a href="#">3</a>
                </li>
                <li>
                  <a href="#">4</a>
                </li>
                <li><a href="#" class="next" title="next page"><i class="fas fa-angle-right"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
