.track-order-section{
    background-color: var(--color-light-3);
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    p {
        font-size: 1.3125rem;
    }
    .search-bar {
        position: relative;
        margin-bottom: 60px;
        input[type="text"] {
            border: 0;
            height: 50px;
            border-radius: 3px;
            padding-left: 15px;
            box-shadow: 0px 0px 50px 0px var(--color-transparent-4);
        }
        input[type="submit"] {
            position: absolute;
            right: -1px;
            color: var(--color-light);
            font-weight: 600;
            top: 0;
            border: 0;
            padding: 0 25px;
            height: 50px;
            cursor: pointer;
            border-radius: 0 3px 3px 0;
            background-color: var(--color-primary);
            transition: all 0.3s ease-in-out;
        }
    }
}
