<div class="track-order-section">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-xl-7 col-lg-9">
          <img src="assets/img/tracking.png" alt="" class="img-fluid add_bottom_15" width="200" height="177">
          <p>Quick Tracking Order</p>
          <form>
            <div class="search-bar">
              <input type="text" class="form-control" placeholder="Invoice ID">
              <input type="submit" value="Search">
            </div>
          </form>
        </div>
      </div>
    </div>
</div>
<!-- related products -->
<app-related-products></app-related-products>