.product-header-detail-section{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var(--color-light-3);
    .page-header{
        margin-bottom: 30px;
        .breadcrumbs {
            color: var(--color-dark-2);
            ul{
                margin: 0 0 10px 0;
                padding: 0;
                font-size: 0.75rem;
                li{
                    display: inline-block;
                    margin-right: 7px;
                    padding-right: 8px;
                    position: relative;
                    font-weight: 500;
                    &:after{
                        content: "\f105";
                        font-family: 'Font Awesome 5 Free';
                        font-weight: 900;
                        font-size: 0.8rem;
                        position: absolute;
                        display: inline-block;
                        top: 0px;
                        margin-left: 3px;
                    }
                    a{
                        color: var(--color-dark-2);
                        opacity: 0.6;
                        &:hover {
                            color: var(--color-dark);
                            opacity: 1;
                        }
                    }
                    &:last-child::after {
                        content: '';
                        margin-right: 0;
                    }
                    &:after {
                        color: var(--color-dark-2);
                        opacity: 0.6;
                    }
                }
            }
        }
        h1 {
            font-size: 1.5rem;
            margin: 0 0 5px 0;
            color: var(--color-dark)
        }
    }

    .product-slider{
        background-color: var(--color-light-3);
        a{
            img {
                display: block;
                width: 100%;
            }
        }

    }
    .tns-nav{
        text-align: center;
        margin-top: 10px;
        button{
            background: var(--color-transparent);
            border: 2px solid var(--color-light-6);

            border-radius: 50%;
            width: 16px;
            height: 16px;
            margin-right: 15px;
            position: relative;
            outline: none;
            &.tns-nav-active{
                border: 2px solid var(--color-primary);
                transition: all .3s ease;
                &:after{
                    content: '';
                    position: absolute;
                    top:2px;
                    left:2px;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background-color: var(--color-primary);
                    transition: all 1s ease-in-out;
                }
            }
        }
    }
}

.product-description-detail-section{
    padding-top: 60px;
    padding-bottom: 35px;

    .product-info{
        .rating {
            display: block;
            margin-bottom: 10px;
            margin-right: 5px;
            color: var(--color-light-6);
            i{
            &.voted {
                color: var(--color-secondary);
            }
            &::before {
                margin: 2px;
                content: '\f005';
                font-family: 'Font Awesome 5 Free';
                font-weight: 900;
                font-size: 12px;
                font-style: normal;
            }
            }
        }
        p {
            margin-bottom: 20px;
        }
        small {
            font-weight: 600;
        }
    }
    .product-options{
        padding: 20px 0 20px 0;
        border:none;
        label {
            padding-top: 5px;
            strong {
                text-transform: uppercase;
                font-weight: 500;
                line-height: 36px;
            }
            a{
                i{
                    color: var(--color-primary);
                }
            }
        }
        .colors{
             ul {
                margin: 0;
                padding: 0;
                li {
                    display: inline-block;
                    margin-right: 5px;
                    a{
                        &.color {
                        border-radius: 50%;
                        display: block;
                        width: 28px;
                        height: 28px;
                        position: relative;
                        &.color_1 {
                            background-color: var(--color-secondary);
                        }
                        &.color_2 {
                            background-color: #ff9933;
                        }
                        &.color_3 {
                            background-color: #ff9966;
                        }
                        &.color_4 {
                            background-color: #ff9999;
                        }
                        &.active{
                            &:before {
                            font-family: 'Font Awesome 5 Free';
                            font-weight: 900;
                            content: "\f00c";
                            color: var(--color-light);
                            font-size: 13px;
                            font-size: 0.8125rem;
                            line-height: 1;
                            position: absolute;
                            font-weight: bold;
                            top: 8px;
                            left: 8px;
                            }
                        }
                    }
                }
             }
            }
        }
        .custom-select-form{
            .dropdown, .dropup {
                position: relative;
                text-align: left;
                a{
                    &.drop {
                    color: var(--color-dark-2);
                    font-weight: 500;
                    transition: all 0.3s;
                    display: block;
                    position: relative;
                    background-color: var(--color-light);
                    border: 1px solid  var(--color-light-4);
                    padding: 10px;
                    height: 40px;
                    line-height: 1.5;
                    &:after{
                        font-family: 'Font Awesome 5 Free';
                        font-weight: 900;
                        content: "\f106";
                        font-size: 1rem;
                        color: var(--color-light-5);
                        transition: all 0.3s ease-in-out;
                        position: absolute;
                        right: 10px;
                        top: 10px;
                        border: none;
                    }
                    }
                    &.apply_filter {
                        text-align: center;
                        background-color: var(--color-primary);
                        color: var(--color-light);
                        display: block;
                        padding: 10px 0;
                        line-height: 1;
                        font-weight: 500;
                        border-radius: 3px;
                    }
                }
                &.show{
                     a{
                         &:after {
                            transform: rotate(180deg);
                         }
                     }
                }
                .dropdown-menu {
                    background: var(--color-light);
                    border: none;
                    border-radius: 0;
                    box-shadow: 0px 5px 10px 0px var(--color-transparent-4);
                    white-space: normal;
                    width: 100%;
                    color: var(--color-dark-2);
                    ul{
                        padding: 0;
                        margin: 0;
                        li{
                            list-style: none;
                            padding: 5px 10px;
                            &:hover{
                                background-color: var(--color-light-2);
                                cursor: pointer;
                            }
                        }
                    }

                }
            }
        }
        .numbers-row{
            position: relative;
            width: 100%;
            height: 40px;
            overflow: visible;
            border: 1px solid var(--color-light-4);
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            -ms-border-radius: 3px;
            border-radius: 3px;
            background-color: var(--color-light);
            text-align: left !important;
            input {
                position: relative;
                width: 40px;
                height: 40px;
                text-align: center;
                left: 50%;
                background: none;
                padding: 5px;
                border: none;
                margin-left: -20px;
                outline: none;
                &[type=number] {
                    -moz-appearance: textfield;
                  }
                  &::-webkit-outer-spin-button,&::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                  }
            }
            .button_inc {
                cursor: pointer;
                position: absolute;
                width: 33px;
                height: 40px;
                line-height: 38px;
                text-align: center;
                z-index: 2;
                font-size: 26px;
                font-size: 1.625rem;
                font-weight: 300 !important;
                color: var(--color-light-5);
                &.inc {
                    right: 0;
                    top: 0;
                }
                &.dec {
                    left: 0;
                    top: 0;
                }

            }
        }
        .price_main{
            .new_price {
                color: var(--color-primary);
                font-weight: 500;
                font-size: 1.5rem;
            }
            .percentage{
                background: var(--color-danger);
                color: var(--color-light);
                border-radius: 3px;
                font-size: 0.75rem;
                line-height: 1;
                font-weight: 600;
                position: relative;
                padding: 5px 5px 3px 5px;
                top: -2px;
                margin-left: 10px;
                display: inline-block;
                margin-right: 5px;

            }
            .old_price {
                color: var(--color-light-5);
                text-decoration: line-through;
                display: inline-block;
                white-space: nowrap;
                font-weight: 500;
                font-size: 1rem;
            }
        }
        .btn_add_to_cart{
            .btn_1 {
                border: none;
                color: var(--color-light);
                background: var(--color-primary);
                outline: none;
                cursor: pointer;
                display: inline-block;
                text-decoration: none;
                padding: 12px 25px;
                color: var(--color-light);
                font-weight: 500;
                text-align: center;
                font-size: 0.875rem;
                transition: all 0.3s ease-in-out;
                border-radius: 3px;
                line-height: normal;
                text-transform: uppercase;
                width: 100%;
                &:hover{
                    background-color: var(--color-secondary);
                    color: var(--color-dark)
                }
            }
        }
        
    }
}
.product-description-tabset{
    background-color: var(--color-light-3);
    margin-top: 40px;
    .nav-pills{
        position: relative;
        top: -40px;
        justify-content: center!important;
        .nav-link{
            background-color: var(--color-transparent);
            color: var(--color-dark);
            outline: none;
            border-radius: 0;
            font-size: 1rem;
            font-weight: 500;
            text-transform: uppercase;
            &.active{
                color: var(--color-primary);
                border-bottom: 2px solid var(--color-primary);
            }
        }
    }
    .tab-content{
        padding: 10px 0 35px 0;
        h3 {
            font-size: 1.125rem;
            margin-bottom: 20px;
            font-weight: 400;
            color: var(--color-dark)
        }
        p{
            margin-bottom: 20px;
        }
    }
}
