<div class="product-header-detail-section">
  <div class="container">
    <div class="row ">
      <div class="col-lg-12">
        <div class="page-header">
          <div class="breadcrumbs">
              <ul>
                  <li><a href="#">Home</a></li>
                  <li><a href="#">Category</a></li>
                  <li>Page active</li>
              </ul>
          </div>
          <h1>Armor Air X Fear</h1>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="product-slider" id="lightgallery">
            <a href="https://via.placeholder.com/900x550?text=product" data-sub-html="<h4>Product 1</h4>"><img src="https://via.placeholder.com/900x550?text=product" alt="" /></a>
            <a href="https://via.placeholder.com/900x550?text=product" data-sub-html="<h4>Product 2</h4>"><img src="https://via.placeholder.com/900x550?text=product" alt="" /></a>
            <a href="https://via.placeholder.com/900x550?text=product" data-sub-html="<h4>Product 3</h4>"><img src="https://via.placeholder.com/900x550?text=product" alt="" /></a>
        </div>
      </div>

    </div>
  </div>
</div>
<div class="product-description-detail-section">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-6">
          <div class="product-info version_2">
              <span class="rating"><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star"></i><em>4 reviews</em></span>
              <p><small>SKU: MTKRY-001</small><br>Lorem ipsum dolor sit amet, his no adipisci pericula conclusionemque. Qui labore salutandi ex, vivendum argumentum mediocritatem vis eu, viris tritani per id. At iudicabit maluisset vis, dicant diceret pri cu. Cum at rebum vulputate forensibus, eruditi principes ad vel, pro denique recusabo at. Ubique nominavi delicata sit cu, quo no reque insolens suscipiantur.</p>
              <p>Et phaedrum temporibus per. Antiopam posidonium et est. Eu ius quas modus suavitate, ex sea feugiat laoreet voluptatum. Quo at veritus ancillae complectitur, duo no assum omnes.</p>
          </div>
      </div>
      <div class="col-lg-5">
          <div class="product-options version_2">
              <div class="row">
                  <label class="col-xl-7 col-lg-5  col-md-6 col-6 pt-0"><strong>Color</strong></label>
                  <div class="col-xl-5 col-lg-5 col-md-6 col-6 colors">
                      <ul>
                          <li><a href="#0" class="color color_1 active"></a></li>
                          <li><a href="#0" class="color color_2"></a></li>
                          <li><a href="#0" class="color color_3"></a></li>
                          <li><a href="#0" class="color color_4"></a></li>
                      </ul>
                  </div>
              </div>
              <div class="row">
                  <label class="col-xl-7 col-lg-5 col-md-6 col-6"><strong>Size</strong> - Size Guide <a href="#0" data-toggle="modal" data-target="#size-modal"><i class="far fa-question-circle"></i></a></label>
                  <div class="col-xl-5 col-lg-5 col-md-6 col-6">
                      <div class="custom-select-form">
                          <select class="wide" style="display: none;">
                              <option value="" selected="">Small (S)</option>
                              <option value="">M</option>
                              <option value=" ">L</option>
                              <option value=" ">XL</option>
                          </select>

                          <div class="dropdown" ngbDropdown >
                            <a  ngbDropdownToggle class="drop">Small (S)</a>
                            <div ngbDropdownMenu  class="dropdown-menu">
                                  <ul>
                                    <li>Small (S)
                                    </li>
                                    <li>M
                                    </li>
                                    <li>L
                                    </li>
                                    <li>XL
                                    </li>
                                  </ul>
                            </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <label class="col-xl-7 col-lg-5  col-md-6 col-6"><strong>Quantity</strong></label>
                  <div class="col-xl-5 col-lg-5 col-md-6 col-6">
                      <div class="numbers-row">
                          <input type="number" #number value="1" id="quantity_1" value="0" class="qty2" name="quantity_1">
                          <div class="inc button_inc" (click)="increaseValue(number)">+</div>
                          <div class="dec button_inc" (click)="decreaseValue(number)">-</div>

                      </div>
                  </div>
              </div>
              <div class="row">
                <div class="col-lg-7 col-md-6">
                    <div class="price_main"><span class="new_price">$148.00</span><span class="percentage">-20%</span> <span class="old_price">$160.00</span></div>
                </div>
                <div class="col-lg-5 col-md-6">
                    <div class="btn_add_to_cart"><a [routerLink]="['/cart']" class="btn_1">Add to Cart</a></div>
                </div>
              </div>
          </div>
      </div>
    </div>

  </div>
</div>

<div class="product-description-tabset">
  <div class="container">
    <ngb-tabset type="pills">
      <ngb-tab title="Description">
        <ng-template ngbTabContent>
          <div class="row justify-content-between">
            <div class="col-lg-6">
                <h3>Details</h3>
                <p>Lorem ipsum dolor sit amet, in eleifend <strong>inimicus elaboraret</strong> his, harum efficiendi mel ne. Sale percipit vituperata ex mel, sea ne essent aeterno sanctus, nam ea laoreet civibus electram. Ea vis eius explicari. Quot iuvaret ad has.</p>
                <p>Vis ei ipsum conclusionemque. Te enim suscipit recusabo mea, ne vis mazim aliquando, everti insolens at sit. Cu vel modo unum quaestio, in vide dicta has. Ut his laudem explicari adversarium, nisl <strong>laboramus hendrerit</strong> te his, alia lobortis vis ea.</p>
                <p>Perfecto eleifend sea no, cu audire voluptatibus eam. An alii praesent sit, nobis numquam principes ea eos, cu autem constituto suscipiantur eam. Ex graeci elaboraret pro. Mei te omnis tantas, nobis viderer vivendo ex has.</p>
            </div>
            <div class="col-lg-5">
                <h3>Specifications</h3>
                <div class="table-responsive">
                    <table class="table table-sm table-striped">
                        <tbody>
                            <tr>
                                <td><strong>Color</strong></td>
                                <td>Blue, Purple</td>
                            </tr>
                            <tr>
                                <td><strong>Size</strong></td>
                                <td>150x100x100</td>
                            </tr>
                            <tr>
                                <td><strong>Weight</strong></td>
                                <td>0.6kg</td>
                            </tr>
                            <tr>
                                <td><strong>Manifacturer</strong></td>
                                <td>Manifacturer</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /table-responsive -->
            </div>
        </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Reviews">
        <ng-template ngbTabContent>
          <p>1 denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
          master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh
          dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum
          iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</div>

<!-- related products -->
<app-related-products></app-related-products>