.header-video{
    position: relative;
    overflow: hidden;
    height: 600px;
    .video-player{
        width: 100%;
        height: auto;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }
    .header-content{
        position: relative;
        background-size: cover;
        width: 100%;
        height: 100%;
        z-index: 99;
        .overlay-video{
            position: absolute;
            left: 0;
            right:0;
            top:0;
            bottom: 0;
            background:  var(--color-transparent-3);
            z-index: 11;
            .inner-content{
                color: var(--color-light);
                h3{
                    font-size: 2.875rem;
                    font-weight: 900;
                    text-transform: uppercase;
                    line-height: 1;
                }
                p{
                    font-size: 1.3125rem;
                }
                .btn_1{
                    border: none;
                    color: var(--color-light);
                    background: var(--color-primary);
                    outline: none;
                    cursor: pointer;
                    display: inline-block;
                    text-decoration: none;
                    padding: 12px 25px;
                    font-weight: 500;
                    text-align: center;
                    font-size: 0.875rem;
                }
            }
    
        }

    }
}

.feature_section{
    background-color: var(--color-light-3);
    padding: 25px 0;
    ul{
        list-style: none;
        margin: 0 auto;
        padding: 0;
        text-align: center;
        width: 100%;
        li{
            width: 33%;
            border-right: 1px solid var(--color-light-4);
            display: inline-block;
            position: relative;
            text-align: center;
            .box{
                display: flex;
                align-items: center;
                justify-content: center;
                i{
                    font-size: 2.25rem;
                    margin: 0 20px 0 0;
                    color: var(--color-primary);
                }
                h3{
                    font-size: 1.125rem;
                    margin: 5px 0 0 0;
                    padding: 0;
                }
                p{
                    margin: 0;
                }
            }
        }
        }
}
.categories_grid_section{
    padding-top: 60px;
    padding-bottom: 35px;
    .small-gutters{
        margin-right: -5px !important;
        margin-left: -5px !important;
     > [class*="col-"] {
        padding-right: 5px !important;
        padding-left: 5px !important;
    }
    }
    a{
        display: block;
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        img{
            transform: scale(1.05);
            transition: all 0.3s ease-in-out;
            &.image_1{
                width: 100%;
                height: 500px;
                object-fit: cover;
            }
            &.image_2,&.image_3{
                width: 100%;
                height: 250px;
                object-fit: cover;
            }
            &.image_4{
                width: 100%;
                height: 250px;
                object-fit: cover;
            }
        }
        .category_content{
            width: 100%;
            background: var(--color-transparent);
            background: -webkit-linear-gradient(top, var(--color-transparent), var(--color-dark-5));
            background: linear-gradient(to bottom, var(--color-transparent), var(--color-dark-5));
            position: absolute;
            left: 0;
            bottom: 0;
            line-height: 1;
            padding: 100px 20px 20px 20px;
            h2{
                color: var(--color-light);
                text-transform: uppercase;
                font-weight: 900;
                font-size: 21px;
                font-size: 1.3125rem;
                margin: 0;
                transform: translateY(20px) translateZ(0);
                transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
            }
            p{
                color: var(--color-light);
                opacity: 0;
                margin: 0;
                font-size: 14px;
                font-size: 0.875rem;
                font-weight: 500;
                transform: translateY(20px) translateZ(0);
                transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
            }
        }
        &:hover{
            img{
                transform: scale(1);
            }
            .category_content{

            h2{
                transform: translateY(-5px) translateZ(0);
            }
            p{
                transform: translateY(0) translateZ(0);
                opacity: 0.8;
                transition-delay: 0.2s;
            }
        }
        }
    }
}
.parallax_section{
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 400px;
    color: var(--color-light);
    font-size: 1.125rem;
    overflow: hidden;
    .overlay_content{
        position: absolute;
        left: 0;
        right:0;
        top:0;
        bottom: 0;
        background:  var(--color-transparent-3);
        z-index: 11;
        h3{
            color: var(--color-light);
            font-weight: 900;
            text-transform: uppercase;
            line-height: 1;
            font-size: 2.25rem;
        }
        p{
            color: var(--color-light);
            font-size: 1.125rem;
        }
        .parallax_block{
            .price_box{
                margin-right: 15px;
                float: left;
                .new_price {
                    font-size: 2rem;
                    color: var(--color-light);
                }
                .old_price {
                    color: var(--color-light-5);
                    text-decoration: line-through;
                    display: inline-block;
                    white-space: nowrap;
                    font-weight: 500;
                    font-size: 1.125rem;
                }
            }
            .btn_1{
                border: none;
                color: var(--color-light);
                background: var(--color-primary);
                outline: none;
                cursor: pointer;
                display: inline-block;
                text-decoration: none;
                padding: 12px 25px;
                font-weight: 500;
                text-align: center;
                font-size: 0.875rem;
            }
        }
    }
}
.brand_section{
    background-color: var(--color-light-3);
    padding-top: 30px;
    padding-bottom: 30px;
    .item{
        img {
            display: block;
            width: 100%;
        }
    }
}
.latest_news_section{
    padding-top: 60px;
    padding-bottom: 35px;
    .main_title {
        position: relative;
        margin-bottom: 45px;
        text-align: center;
        h2{
            font-size: 2.25rem;
            font-weight: 500;
            margin: 0;
            position: relative;
            z-index: 2;
        }
        span{
            display: block;
            content: attr(data-mask);
            position: absolute;
            text-align: center;
            margin-top: -15px;
            top: 0;
            font-weight: 900;
            font-size: 65px;
            line-height: 1;
            z-index: 1;
            color: var(--color-light-3);
            text-transform: uppercase;
            width: 100%;
        }
        p {
            font-size: 1.4375rem;
            font-weight: 300;
            padding: 0 15%;
            position: relative;
            z-index: 2;
        }
    }
    .box_news {
        position: relative;
        display: block;
        padding-left: 230px;
        color: var(--color-dark-2);
        margin-bottom: 30px;
        min-height: 150px;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
        figure {
            width: 200px;
            height: 150px;
            overflow: hidden;
            position: absolute;
            left: 0;
            top: 0;
            img {
                width: 250px;
                height: auto;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%) scale(1.1);
                transition: all 0.3s ease-in-out;
                backface-visibility: hidden;
            }
            figcaption {
                background-color: var(--color-secondary);
                text-align: center;
                position: absolute;
                right: 0;
                top: 0;
                display: inline-block;
                color: var(--color-light);
                width: 60px;
                height: 60px;
                padding: 15px;
                line-height: 1;
                strong {
                    font-weight: 900;
                    display: block;
                    font-size: 1.3125rem;
                }
            }
        }
        ul {
            margin: 0;
            padding: 10px 0 0 0;
            li {
                display: inline-block;
                font-weight: 500;
                color: var(--color-light-5);
                font-size: 12px;
                font-size: 0.75rem;
                margin-right: 5px;
                &::after {
                    content: '-';
                    margin: 0 0 0 10px;
                }
                &:last-child{
                    &::after {
                    content: '';
                    margin: 0;
                    }
                }
            }
        }
        h4{
            font-size: 1.125rem;
            margin-bottom: 10px;
        }
        p{
            margin-bottom: 20px;
        }
        &:hover{
            figure {
                img{
                    transform: translate(-50%, -50%) scale(1);
                }
            }
            h4{
                color: var(--color-primary);
                transition: all 0.3s ease-in-out;
            }
        }
    }
}

.gallery_section{
    padding-top: 60px;
    padding-bottom: 35px;
    .main_title {
        position: relative;
        margin-bottom: 45px;
        text-align: center;
        h2 {
            font-size: 36px;
            font-size: 2.25rem;
            font-weight: 500;
            margin: 0;
            position: relative;
            z-index: 2;
        }
        span {
            display: block;
            content: attr(data-mask);
            position: absolute;
            text-align: center;
            margin-top: -15px;
            top: 0;
            font-weight: 900;
            font-size: 65px;
            line-height: 1;
            z-index: 1;
            color: var(--color-light-2);
            text-transform: uppercase;
            width: 100%;
        }
        p {
            font-size: 1.4375rem;
            font-weight: 300;
            padding: 0 15%;
            position: relative;
            z-index: 2;
        }
    }
    .gallery_filter{
        ul {
            list-style: none;
            text-align: center;
            margin: 0 0 30px 0;
            padding: 0;
            li {
                text-align: center;
                display: inline-block;
                border-right: 1px solid var(--color-light-4);
                line-height: 1;
                padding-right: 13px;
                padding-left: 10px;
                a {
                    text-transform: uppercase;
                    font-weight: 700;
                    font-size: 1rem;
                    color: var(--color-primary)
                }
                &:last-child {
                    border-right: none;
                }
            }
        }
    }
    

    .zerogrid{ 
        width:100%;
        position: relative;
        float: left;
        &:after{
            content: "\0020";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
            }
        .f-right{float: right!important;}
        .f-left{float: left!important;}
        .small-gutters {
            margin-right: -5px !important;
            margin-left: -5px !important;
            > [class*="col-"] {
                padding-right: 5px !important;
                padding-left: 5px !important;
            }
        }
        .galley-item{
            float: left;
            .item-container{
                margin-bottom: 25px;
                text-align: center;
                position: relative;
                cursor: pointer;
                figure {
                    position: relative;
                    overflow: hidden;
                    transition: all 0.7s ease;
                    .ribbon {
                        color: var(--color-light);
                        display: inline-block;
                        font-size: 11px;
                        font-size: 0.6875rem;
                        left: 10px;
                        line-height: 1;
                        position: absolute;
                        text-align: center;
                        text-transform: uppercase;
                        top: 10px;
                        padding: 7px 10px;
                        font-weight: 600;
                        min-width: 45px;
                        z-index: 1;
                        &:before {
                            border-style: solid solid solid none;
                            border-width: 9px 9px 9px 0;
                            bottom: -15px;
                            content: "";
                            left: 0;
                            position: absolute;
                            width: 9px;
                        }
                        &.off {
                            background-color: var(--color-danger);
                            &:before {
                                border-color: var(--color-danger) var(--color-transparent) var(--color-transparent);
                            }
                        }
                        &.new{
                            background-color: var(--color-warning);
                            &:before {
                                border-color: var(--color-warning) var(--color-transparent) var(--color-transparent);
                            }
                        }
                        &.hot{
                            background-color: var(--color-success);
                            &:before {
                                border-color: var(--color-success) var(--color-transparent) var(--color-transparent);
                            }
                        }
                    }
                    img {
                        visibility: visible;
                        opacity: 1;
                        transform: translateZ(0);
                    }
                    &:hover {
                        box-shadow: 0 20px 20px -20px var(--color-transparent-4);
                        img{
                            visibility: visible;
                            opacity: 1;
                            transform: scale(1.05);
                            transition: opacity 0.5s ease,transform 1.5s cubic-bezier(0, 0, 0.44, 1.18),-webkit-transform 2s cubic-bezier(0, 0, 0.44, 1.18);
                        }
                    }
                    .countdown {
                        color: var(--color-light);
                        font-weight: 600;
                        width: 100px;
                        height: 22px;
                        position: absolute;
                        left: 50%;
                        margin-left: -45px;
                        bottom: 25px;
                        z-index: 1;
                        line-height: 23px;
                        box-sizing: border-box;
                        font-size: 12px;
                        font-size: 0.75rem;
                        background: var(--color-danger);
                        text-align: center;
                        &:before{
                            position: absolute;
                            left: -37px;
                            top: -9px;
                            content: '\f2f2';
                            font-family: 'Font Awesome 5 Free';
                            font-weight: 900;
                            font-size: 28px;
                            display: inline-block;
                            color:  var(--color-light);
                            width: 40px;
                            height: 40px;
                            padding: 8px 0 0 0;
                            border-radius: 50%;
                            background-color: var(--color-danger);
                        }
                    }
                }
                .rating {
                    display: block;
                    margin-bottom: 0;
                    color: var(--color-light-6);
                    i{
                    &.voted {
                        color: var(--color-secondary);
                    }
                    &::before {
                        margin: 2px;
                        content: '\f005';
                        font-family: 'Font Awesome 5 Free';
                        font-weight: 900;
                        font-size: 16px;
                        font-style: normal;
                    }
                    }
                }
                a{
                    h3 {
                    font-size: 14px;
                    font-size: 0.875rem;
                    margin: 3px 0 0 0;
                    color: var(--color-dark-2);
                    font-weight: 500;
                    display: inline-block;
                    }
                }
                .price_box {
                    margin-bottom: 5px;
                    .new_price {
                        color: var(--color-primary);
                        font-weight: 500;
                        font-size: 1rem;
                        margin-right: 3px;
                    }
                    .old_price {
                        color: var(--color-light-5);
                        text-decoration: line-through;
                        display: inline-block;
                        white-space: nowrap;
                        font-weight: 500;
                        font-size: 0.875rem;
                    }
                }
                ul {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    position: absolute;
                    right: 10px;
                    top: 10px;
                    font-size: 18px;
                    font-size: 1.125rem;
                    line-height: 1;
                    z-index: 2;
                    li {
                        margin-bottom: 5px;
                        animation: fadeIn 0.1s ease;
                            animation-delay: 0s;
                            animation-fill-mode: none;
                        animation-fill-mode: both;
                        display: none;
                        position: relative;
                        a {
                            background-color: var(--color-light);
                            -webkit-border-radius: 0;
                            -moz-border-radius: 0;
                            -ms-border-radius: 0;
                            border-radius: 0;
                            width: 36px;
                            height: 36px;
                            color: var(--color-dark-2);
                            text-align: center;
                            line-height: 40px;
                            display: block;
                            margin: 0;
                            padding: 0;
                            span {
                                display: none;
                            }
                            &:hover {
                                background-color: var(--color-primary);
                                i {
                                    color: var(--color-light);
                                }
                            }
                        }
                        &:nth-child(1) {
                            animation-delay: 0.05s;
                        }
                        &:nth-child(2) {
                            animation-delay: 0.1s;
                        }
                        &:nth-child(3) {
                            animation-delay: 0.15s;
                        }
                    }
                }
                &:hover{
                    ul li {
                        display: block;
                    }
                }
            }
        }
    }


}

@media only screen and (max-width: 1024px) and (min-width: 0px){
    .header-video{
        .header-content{
            background: var(--color-light-4) url("https://via.placeholder.com/1200x700?text=Hero Image");
            background-position-x: 0%;
            background-position-y: 0%;
            background-size: auto;
            background-size: cover;
            background-position: center;
        }
    }
}
@keyframes fadeIn{
    0%{
        opacity: 0;
        transform: translateX(10px);
    }
    75%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}