<div class="header-video">
    <video autoplay="true" loop="loop" muted="" id="video-player" class="video-player">
      <source src="assets/video/intro.mp4" type="video/mp4">
    </video>
    <div class="header-content">
      <div class="overlay-video d-flex align-items-center">
        <div class="container">
          <div class="row justify-content-center justify-content-md-start">
            <div class="col-lg-6">
              <div class="inner-content">
                <h3>Armor Air<br>Max 720 Sage Low</h3>
                <p>Limited items available at this price</p>
                <a class="btn_1" href="#" role="button">Shop Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="feature_section">
    <div class="container">
      <ul>
        <li>
          <div class="box">
            <i class="fas fa-gift"></i>
            <div class="justify-content-center">
              <h3>Free Shipping</h3>
              <p>For all oders over $99</p>
            </div>
          </div>
        </li>
        <li>
          <div class="box">
            <i class="fas fa-wallet"></i>
            <div class="justify-content-center">
              <h3>Secure Payment</h3>
              <p>100% secure payment</p>
            </div>
          </div>
        </li>
        <li>
          <div class="box">
            <i class="fas fa-headset"></i>
            <div class="justify-content-center">
              <h3>24/7 Support</h3>
              <p>Online top support</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="categories_grid_section">
    <div class="container">
      <div class="row small-gutters">
        <div class="col-sm-12 col-md-6">
          <a [routerLink]="['/product-list']">
            <img src="https://via.placeholder.com/600x500?text=categories" alt="" class="img-fluid image_1">
            <div class="category_content">
              <h2>Life Style</h2>
              <p>115 Products</p>
            </div>
          </a>
        </div>
        <div class="col-sm-12 col-md-6">
          <div class="row small-gutters mt-md-0 mt-sm-2">
            <div class="col-sm-6">
              <a href="#">
                <img src="https://via.placeholder.com/600x500?text=categories" alt="" class="img-fluid image_2">
                <div class="category_content">
                  <h2>Running</h2>
                  <p>150 Products</p>
                </div>
              </a>
            </div>
            <div class="col-sm-6">
              <a href="#">
                <img src="https://via.placeholder.com/600x500?text=categories" alt="" class="img-fluid image_3">
                <div class="category_content">
                  <h2>Football</h2>
                  <p>90 Products</p>
                </div>
              </a>
            </div>
            <div class="col-sm-12 mt-sm-2">
              <a href="#">
                <img src="https://via.placeholder.com/600x500?text=categories" alt="" class="img-fluid image_4">
                <div class="category_content">
                  <h2>Training</h2>
                  <p>120 Products</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="gallery_section padding">
    <div class="container">
        <div class="row">
       <div class="col-md-12 text-center">
        <div class="main_title mb-4">
          <h2>New Arrival</h2>
          <span>Products</span>
          <p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
        </div>
          <div class="gallery_filter">
            <ul class="text-center">
               <li><a href="javascript:;" data-filter="all" class="active filter">All</a></li>
               <li><a href="javascript:;" data-filter=".popular" class="filter">Popular</a></li>
               <li><a href="javascript:;" data-filter=".sale" class="filter">Sale</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row ">
        <div class="col-md-12 ">
        <div class="zerogrid">
          <div class="wrap-container">
            <div class="wrap-content clearfix home-gallery">
              <div class="row  small-gutters">
              <div class="col-6 col-md-4 col-xl-3 mix galley-item sale">
                <div class="item-container">
                  <figure>
                    <span class="ribbon off">-30%</span>
                    <a href="product-detail-1.php">
                      <img class="img-fluid" src="https://via.placeholder.com/400x400?text=products" alt="">
                    </a>
                    <div class="countdown">00D 00:00:00</div>
                  </figure>
                  <div class="rating"><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star"></i></div>
                  <a href="product-detail-1.php">
                    <h3>Armor Air x Fear</h3>
                  </a>
                  <div class="price_box">
                    <span class="new_price">$48.00</span>
                    <span class="old_price">$60.00</span>
                  </div>
                  <ul>
                    <li><a href="#" class="tooltip-1"  title="" placement="left" ngbTooltip="Add to favorites"><i class="far fa-heart"></i></a></li>
                    <li><a href="#" class="tooltip-1"  title="" placement="left" ngbTooltip="Add to compare"><i class="fas fa-random"></i></a></li>
                    <li><a href="#" class="tooltip-1"  title="" placement="left" ngbTooltip="Add to cart"><i class="fas fa-shopping-cart"></i></a></li>
                  </ul>
                </div>
              </div>
              <div class="col-6 col-md-4 col-xl-3 mix galley-item sale">
                <div class="item-container">
                  <figure>
                    <span class="ribbon off">-30%</span>
                    <a href="product-detail-1.php">
                      <img class="img-fluid" src="https://via.placeholder.com/400x400?text=products" alt="">
                    </a>
                    <div class="countdown">00D 00:00:00</div>
                  </figure>
                  <div class="rating"><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star"></i></div>
                  <a href="product-detail-1.php">
                    <h3>Armor Air x Fear</h3>
                  </a>
                  <div class="price_box">
                    <span class="new_price">$48.00</span>
                    <span class="old_price">$60.00</span>
                  </div>
                  <ul>
                    <li><a href="#" class="tooltip-1"  title="" placement="left" ngbTooltip="Add to favorites"><i class="far fa-heart"></i></a></li>
                    <li><a href="#" class="tooltip-1"  title="" placement="left" ngbTooltip="Add to compare"><i class="fas fa-random"></i></a></li>
                    <li><a href="#" class="tooltip-1"  title="" placement="left" ngbTooltip="Add to cart"><i class="fas fa-shopping-cart"></i></a></li>
                  </ul>
                </div>
              </div>
              <div class="col-6 col-md-4 col-xl-3 mix galley-item sale">
                <div class="item-container">
                  <figure>
                    <span class="ribbon off">-30%</span>
                    <a href="product-detail-1.php">
                      <img class="img-fluid" src="https://via.placeholder.com/400x400?text=products" alt="">
                    </a>
                    <div class="countdown">00D 00:00:00</div>
                  </figure>
                  <div class="rating"><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star"></i></div>
                  <a href="product-detail-1.php">
                    <h3>Armor Air x Fear</h3>
                  </a>
                  <div class="price_box">
                    <span class="new_price">$48.00</span>
                    <span class="old_price">$60.00</span>
                  </div>
                  <ul>
                    <li><a href="#" class="tooltip-1"  title="" placement="left" ngbTooltip="Add to favorites"><i class="far fa-heart"></i></a></li>
                    <li><a href="#" class="tooltip-1"  title="" placement="left" ngbTooltip="Add to compare"><i class="fas fa-random"></i></a></li>
                    <li><a href="#" class="tooltip-1"  title="" placement="left" ngbTooltip="Add to cart"><i class="fas fa-shopping-cart"></i></a></li>
                  </ul>
                </div>
              </div>
              <div class="col-6 col-md-4 col-xl-3 mix galley-item popular">
                <div class="item-container">
                  <figure>
                    <span class="ribbon new">new</span>
                    <a href="product-detail-1.php">
                      <img class="img-fluid" src="https://via.placeholder.com/400x400?text=products" alt="">
                    </a>
                    <div class="countdown">00D 00:00:00</div>
                  </figure>
                  <div class="rating"><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star"></i></div>
                  <a href="product-detail-1.php">
                    <h3>Armor Air x Fear</h3>
                  </a>
                  <div class="price_box">
                    <span class="new_price">$48.00</span>
                    <span class="old_price">$60.00</span>
                  </div>
                  <ul>
                    <li><a href="#" class="tooltip-1"  title="" placement="left" ngbTooltip="Add to favorites"><i class="far fa-heart"></i></a></li>
                    <li><a href="#" class="tooltip-1"  title="" placement="left" ngbTooltip="Add to compare"><i class="fas fa-random"></i></a></li>
                    <li><a href="#" class="tooltip-1"  title="" placement="left" ngbTooltip="Add to cart"><i class="fas fa-shopping-cart"></i></a></li>
                  </ul>
                </div>
              </div>
              <div class="col-6 col-md-4 col-xl-3 mix galley-item popular">
                <div class="item-container">
                  <figure>
                    <span class="ribbon new">new</span>
                    <a href="product-detail-1.php">
                      <img class="img-fluid" src="https://via.placeholder.com/400x400?text=products" alt="">
                    </a>
                    <div class="countdown">00D 00:00:00</div>
                  </figure>
                  <div class="rating"><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star"></i></div>
                  <a href="product-detail-1.php">
                    <h3>Armor Air x Fear</h3>
                  </a>
                  <div class="price_box">
                    <span class="new_price">$48.00</span>
                    <span class="old_price">$60.00</span>
                  </div>
                  <ul>
                    <li><a href="#" class="tooltip-1"  title="" placement="left" ngbTooltip="Add to favorites"><i class="far fa-heart"></i></a></li>
                    <li><a href="#" class="tooltip-1"  title="" placement="left" ngbTooltip="Add to compare"><i class="fas fa-random"></i></a></li>
                    <li><a href="#" class="tooltip-1"  title="" placement="left" ngbTooltip="Add to cart"><i class="fas fa-shopping-cart"></i></a></li>
                  </ul>
                </div>
              </div>
              <div class="col-6 col-md-4 col-xl-3 mix galley-item popular">
                <div class="item-container">
                  <figure>
                    <span class="ribbon new">new</span>
                    <a href="product-detail-1.php">
                      <img class="img-fluid" src="https://via.placeholder.com/400x400?text=products" alt="">
                    </a>
                    <div class="countdown">00D 00:00:00</div>
                  </figure>
                  <div class="rating"><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star"></i></div>
                  <a href="product-detail-1.php">
                    <h3>Armor Air x Fear</h3>
                  </a>
                  <div class="price_box">
                    <span class="new_price">$48.00</span>
                    <span class="old_price">$60.00</span>
                  </div>
                  <ul>
                    <li><a href="#" class="tooltip-1"  title="" placement="left" ngbTooltip="Add to favorites"><i class="far fa-heart"></i></a></li>
                    <li><a href="#" class="tooltip-1"  title="" placement="left" ngbTooltip="Add to compare"><i class="fas fa-random"></i></a></li>
                    <li><a href="#" class="tooltip-1"  title="" placement="left" ngbTooltip="Add to cart"><i class="fas fa-shopping-cart"></i></a></li>
                  </ul>
                </div>
              </div>
              <div class="col-6 col-md-4 col-xl-3 mix galley-item popular">
                <div class="item-container">
                  <figure>
                    <span class="ribbon hot">hot</span>
                    <a href="product-detail-1.php">
                      <img class="img-fluid" src="https://via.placeholder.com/400x400?text=products" alt="">
                    </a>
                    <div class="countdown">00D 00:00:00</div>
                  </figure>
                  <div class="rating"><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star"></i></div>
                  <a href="product-detail-1.php">
                    <h3>Armor Air x Fear</h3>
                  </a>
                  <div class="price_box">
                    <span class="new_price">$48.00</span>
                    <span class="old_price">$60.00</span>
                  </div>
                  <ul>
                    <li><a href="#" class="tooltip-1"  title="" placement="left" ngbTooltip="Add to favorites"><i class="far fa-heart"></i></a></li>
                    <li><a href="#" class="tooltip-1"  title="" placement="left" ngbTooltip="Add to compare"><i class="fas fa-random"></i></a></li>
                    <li><a href="#" class="tooltip-1"  title="" placement="left" ngbTooltip="Add to cart"><i class="fas fa-shopping-cart"></i></a></li>
                  </ul>
                </div>
              </div>
              <div class="col-6 col-md-4 col-xl-3 mix galley-item popular">
                <div class="item-container">
                  <figure>
                    <span class="ribbon hot">hot</span>
                    <a href="product-detail-1.php">
                      <img class="img-fluid" src="https://via.placeholder.com/400x400?text=products" alt="">
                    </a>
                    <div class="countdown">00D 00:00:00</div>
                  </figure>
                  <div class="rating"><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star"></i></div>
                  <a href="product-detail-1.php">
                    <h3>Armor Air x Fear</h3>
                  </a>
                  <div class="price_box">
                    <span class="new_price">$48.00</span>
                    <span class="old_price">$60.00</span>
                  </div>
                  <ul>
                    <li><a href="#" class="tooltip-1"  title="" placement="left" ngbTooltip="Add to favorites"><i class="far fa-heart"></i></a></li>
                    <li><a href="#" class="tooltip-1"  title="" placement="left" ngbTooltip="Add to compare"><i class="fas fa-random"></i></a></li>
                    <li><a href="#" class="tooltip-1"  title="" placement="left" ngbTooltip="Add to cart"><i class="fas fa-shopping-cart"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
         </div>
        </div>
      </div>
      </div>
    </div>
  </div>
  
  <div class="parallax_section" style='background-image: url("https://via.placeholder.com/1200x800?text=parallax");'>

    <div class="overlay_content d-flex align-items-center">

      <div class="container">
        <div class="row justify-content-center justify-content-md-start">
          <div class="col-lg-6">
            <h3>Armor<br>Air Color 720</h3>
            <p>Lightweight cushioning and durable support with a Phylon midsole</p>
            <div class="parallax_block">
              <div class="price_box">
                <span class="new_price">$90.00</span>
                <span class="old_price">$170.00</span>
              </div>
              <a class="btn_1" href="#" role="button">Shop Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="brand_section">
    <div class="brand_slider">
      <div class="item">
        <a href="#"><img src="https://via.placeholder.com/150x80?text=brand" alt=""/></a>
      </div>
      <div class="item">
        <a href="#"><img src="https://via.placeholder.com/150x80?text=brand" alt=""/></a>
      </div>
      <div class="item">
        <a href="#"><img src="https://via.placeholder.com/150x80?text=brand" alt=""/></a>
      </div>
      <div class="item">
        <a href="#"><img src="https://via.placeholder.com/150x80?text=brand" alt=""/></a>
      </div>
      <div class="item">
        <a href="#"><img src="https://via.placeholder.com/150x80?text=brand" alt=""/></a>
      </div>
      <div class="item">
        <a href="#"><img src="https://via.placeholder.com/150x80?text=brand" alt=""/></a>
      </div>
      <div class="item">
        <a href="#"><img src="https://via.placeholder.com/150x80?text=brand" alt=""/></a>
      </div>
      <div class="item">
        <a href="#"><img src="https://via.placeholder.com/150x80?text=brand" alt=""/></a>
      </div>
      <div class="item">
        <a href="#"><img src="https://via.placeholder.com/150x80?text=brand" alt=""/></a>
      </div>
    </div>
  </div>
  <div class="latest_news_section">
    <div class="container">
			<div class="main_title">
				<h2>Latest News</h2>
				<span>Blog</span>
				<p>Cum doctus civibus efficiantur in imperdiet deterruisset</p>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<a class="box_news" href="#">
						<figure>
							<img src="https://via.placeholder.com/400x250?text=Latest News" data-src="img/blog-thumb-1.jpg" alt="" class="lazy loaded" data-was-processed="true" width="400" height="266">
							<figcaption><strong>28</strong>Dec</figcaption>
						</figure>
						<ul>
							<li>by Mark Twain</li>
							<li>20.11.2017</li>
						</ul>
						<h4>Pri oportere scribentur eu</h4>
						<p>Cu eum alia elit, usu in eius appareat, deleniti sapientem honestatis eos ex. In ius esse ullum vidisse....</p>
					</a>
				</div>
				<div class="col-lg-6">
					<a class="box_news" href="#">
						<figure>
							<img src="https://via.placeholder.com/400x250?text=Latest News" data-src="img/blog-thumb-2.jpg" alt="" class="lazy loaded" data-was-processed="true" width="400" height="266">
							<figcaption><strong>28</strong>Dec</figcaption>
						</figure>
						<ul>
							<li>By Jhon Doe</li>
							<li>20.11.2017</li>
						</ul>
						<h4>Duo eius postea suscipit ad</h4>
						<p>Cu eum alia elit, usu in eius appareat, deleniti sapientem honestatis eos ex. In ius esse ullum vidisse....</p>
					</a>
				</div>
				<div class="col-lg-6">
					<a class="box_news" href="#">
						<figure>
							<img src="https://via.placeholder.com/400x250?text=Latest News" data-src="img/blog-thumb-3.jpg" alt="" class="lazy loaded" data-was-processed="true" width="400" height="266">
							<figcaption><strong>28</strong>Dec</figcaption>
						</figure>
						<ul>
							<li>By Luca Robinson</li>
							<li>20.11.2017</li>
						</ul>
						<h4>Elitr mandamus cu has</h4>
						<p>Cu eum alia elit, usu in eius appareat, deleniti sapientem honestatis eos ex. In ius esse ullum vidisse....</p>
					</a>
				</div>
				<div class="col-lg-6">
					<a class="box_news" href="#">
						<figure>
							<img src="https://via.placeholder.com/400x250?text=Latest News" data-src="img/blog-thumb-4.jpg" alt="" class="lazy loaded" data-was-processed="true" width="400" height="266">
							<figcaption><strong>28</strong>Dec</figcaption>
						</figure>
						<ul>
							<li>By Paula Rodrigez</li>
							<li>20.11.2017</li>
						</ul>
						<h4>Id est adhuc ignota delenit</h4>
						<p>Cu eum alia elit, usu in eius appareat, deleniti sapientem honestatis eos ex. In ius esse ullum vidisse....</p>
					</a>
				</div>
			</div>
		</div>
  </div>