header{
.main-header{
    background-color: var(--color-primary);
    // position: relative;
    z-index: 2;
    .navbar {
        padding: 0;
        .container{
            display: unset;
            .column-one{
                .navbar-brand {
                    display: flex;
                    justify-content: center;
                    color: var(--color-light);
                }
            }
            .column-two{
                .custom-navbar-toggler{
                    i{
                        color: var(--color-light);
                        font-size: 30px;
                    }
                }
                .custom-navbar-links{
                    justify-content: center;
                    ul{
                        li{
                            a{
                                padding: 30px 18px 25px 18px;
                                color: var(--color-light);
                                font-size: 0.8125rem;
                                font-weight: 700;
                                text-transform: uppercase;
                                line-height: 1;
                            }
                            &.custom-dropdown{
                                    position: relative;
                                    text-align: left;
                                    a{
                                        &.drop {

                                        transition: all 0.3s;
                                        display: block;
                                        position: relative;
                                        &:after{
                                            font-family: 'Font Awesome 5 Free';
                                            font-weight: 900;
                                            content: "\f078";
                                            font-size: 0.6rem;
                                            color: var(--color-light);
                                            transition: all 0.3s ease-in-out;
                                            position: absolute;
                                            right: 5px;
                                            top: 32px;
                                            border: none;
                                        }
                                        }
                                    }
                                    &.show{
                                         a{
                                             &:after {
                                                transform: rotate(180deg);
                                             }
                                         }
                                    }
                                .dropdown-menu{
                                    right: -20px;
                                    left: unset;
                                    border:none;
                                    margin-top: 0px;
                                    padding: 10px;
                                    top: 100%;
                                    border-radius: 0;
                                    box-shadow: 0px 5px 10px 0px var(--color-transparent-4);
                                    font-size: 0.8125rem;
                                            a {
                                                color: var(--color-dark);
                                                height: auto;
                                                line-height: inherit;    
                                                margin: 0;
                                                padding: 10px;
                                                width: 100%;
                                                min-height: 30px;
                                                position: relative;
                                                display: block;
                                                transition: all 0.3s ease-in-out;
                                                &:hover{
                                                    color: var(--color-primary);
                                                    background-color: var(--color-light-2);
                                                }
                                                &:focus{
                                                    background-color: var(--color-light-2);
                                                }
                                            }
                                }
                            }
                        }
                    }
                    .navbar-brand-side{
                        display: none;
                    }

                }
            }
            .column-three{
                a{
                    color: var(--color-light);
                    &.phone_top{
                        &:before {
                            display: none;
                        }
                        strong {
                            span {
                            display: block;
                            font-weight: 900;
                            }
                        }
                    }
                }

            }
        }
    }
}

.sub-header{
    background-color: var(--color-light);
    position: static;
    z-index: 2;
    .navbar {
        padding: 0px 15px;
        .container{
            display: unset;
            .column-one{
                a{
                    color: var(--color-dark);
                    text-decoration: none;

                    i{
                    font-size: 30px;
                    padding-right: 10px;
                    }
                    span{
                        font-size: 14px;
                        text-transform: uppercase;
                        font-weight: 700;
                        vertical-align: super;
                    }
                    &.drop-2 {

                        transition: all 0.3s;
                        display: block;
                        position: relative;
                        cursor: pointer;
                        &:after{
                           display: none;
                        }
                        &.drop{
                            &:after{
                                font-family: 'Font Awesome 5 Free';
                                font-weight: 900;
                                content: "\f054";
                                font-size: 1rem;
                                color: var(--color-primary);

                                position: absolute;
                                right: 10px;
                                top: 0px;
                                border: none;
                            }
                            &:hover{
                                border: none;
                                &:after{
                                display: block;
                                }
                            }
                        }
                    }
                }
                .dropdown-menu{
                    left: 0;
                    margin-top: 10px;
                    padding: 0px;
                    top: 100%;
                    min-width: 0;
                    width: 300px;
                    border-radius: 0;
                    box-shadow: 0px 5px 10px 0px var(--color-transparent-4);
                    border-top: 2px solid var(--color-primary);
                    border-left: none;
                    border-right: none;
                    border-bottom: none;
                            a {
                                color: var(--color-dark-2);
                                height: auto;
                                line-height: 45px;  
                                margin: 0;
                                width: 100%;
                                min-height: 30px;
                                position: relative;
                                display: block;
                                font-size: 0.875rem;
                                padding: 0 10px 0 15px;
                                &:hover{
                                    width: 299px;
                                    border-radius: 0;
                                    color: var(--color-primary);
                                    background-color: var(--color-light-2);
                                }
                                &:focus{
                                    background-color: var(--color-light-2);
                                }
                            }
                            &.drop-side{
                                left: 100%;
                                top: -12px;
                            }
                }
            }
            .column-two{
                input{
                    background-color: var(--color-light-2);
                    border: 1px solid  var(--color-light-2);
                    &:focus{
                        box-shadow: none;
                    }
                }
                .input-group-text{
                    background: var(--color-light-2);
                    border: 1px solid  var(--color-light-2);
                    color: var(--color-dark);
                    font-size: 24px;
                }
                .custom-btn-primary{
                    display: none;
                }
            }
            .column-three{
                .icon-list{
                    display: inline-block;              
                    margin: 0;
                    padding: 0;
                    vertical-align: bottom;
                    li{
                        float: left;
                        list-style: none;
                        margin: 4px 10px;
                        padding: 10px 0;
                        cursor: pointer;
                        i{
                            font-size: 26px;
                        }
                        &:nth-child(1){
                            display: none;
                        }
                        &.add-to-cart{
                            .cart-btn{
                                position: relative;
                                strong {
                                    font-size: 0.625rem;
                                    font-weight: 700;
                                    width: 16px;
                                    height: 16px;
                                    text-indent: 0;
                                    display: block;
                                    text-align: center;
                                    position: absolute;
                                    bottom: -5px;
                                    right: -5px;
                                    line-height: 17px;
                                    border-radius: 50%;
                                    background-color: var(--color-primary);
                                    color: var(--color-light);
                                }
                            }
                            .dropdown-menu{
                                display: none;
                                right: -20px;
                                left: unset;
                                border-top: 2px solid var(--color-primary);
                                border-left: none;
                                border-right: none;
                                border-bottom: none;
                                margin-top: 0px;
                                min-width: 0;
                                padding: 15px;
                                width: 260px;
                                top: 100%;
                                border-radius: 0;
                                box-shadow: 0px 5px 10px 0px var(--color-transparent-4);
                                font-size: 0.8125rem;
                                ul {
                                    padding: 0;
                                    list-style: none;
                                    float: left;
                                    li {
                                        width: 100%;
                                        position: relative;
                                        float: left;
                                        margin:0;
                                        padding: 0px 0;
                                        &:nth-child(1){
                                            display: block;
                                        }
                                        a {
                                            color: var(--color-dark);
                                            height: auto;
                                            line-height: inherit;
                                            border-bottom: 1px solid var(--color-light-7);
                                            margin: 0;
                                            padding: 0 15px 10px 60px;
                                            width: 100%;
                                            min-height: 60px;
                                            margin-bottom: 10px;
                                            position: relative;
                                            display: block;
                                            figure {
                                                width: 50px;
                                                height: 50px;
                                                overflow: hidden;
                                                position: absolute;
                                                margin: 0;
                                                left: 0;
                                                border: 1px solid var(--color-light-7);
                                                img {
                                                    width: auto;
                                                    height: 50px;
                                                    position: absolute;
                                                    left: 50%;
                                                    top: 50%;
                                                    transform: translate(-50%, -50%) scale(1.1);
                                                }
                                            }
                                            strong {
                                                color: var(--color-dark-2);
                                                margin-top: 5px;
                                                display: inline-block;
                                                font-weight: 700;
                                                span {
                                                    display: block;
                                                    font-weight: normal;
                                                }
                                                &:hover {
                                                    color: var(--color-primary);
                                                }
                                            }
                                            &.action{
                                                color: var(--color-dark);
                                                position: absolute;
                                                right: 0;
                                                top: 5px;
                                                width: 15px;
                                                height: 15px;
                                                border: none;
                                                 i {
                                                    font-size: 16px;
                                                    font-weight: normal;
                                                    color: var(--color-light-8);
                                                 }
                                            }
                                        }
                                    }
                                }
                                .total_drop {
                                    font-size: 1rem;
                                    float: left;
                                    cursor: default;
                                    strong {
                                        float: left;
                                    }
                                    span {
                                        float: right;
                                        font-weight: 600;
                                    }
                                    .btn_1 {
                                        border: none;
                                        color: var(--color-dark);
                                        background: var(--color-secondary);
                                        outline: none;
                                        cursor: pointer;
                                        display: inline-block;
                                        width: 100%;
                                        text-decoration: none;
                                        padding: 12px 25px;
                                        font-weight: 500;
                                        text-align: center;
                                        font-size: 0.875rem;
                                        transition: all 0.3s ease-in-out;
                                        border-radius: 3px;
                                        line-height: normal;
                                        margin-top: 10px;
                                        &:hover{
                                            background: var(--color-primary);
                                            color: var(--color-light);
                                        }
                                        &.outline{
                                            border: 2px solid var(--color-dark);
                                            color: var(--color-dark);
                                            padding: 10px 30px;
                                            background: var(--color-transparent);
                                            &:hover{
                                                background: var(--color-primary);
                                            border: 2px solid var(--color-primary);
                                            color: var(--color-light);
                                            }
                                        }
                                    }
                                }
                                &:before {
                                    bottom: 100%;
                                    border-left: solid var(--color-transparent);
                                    border-right: solid var(--color-transparent);
                                    border-top: solid var(--color-transparent);
                                    border-bottom: solid var(--color-primary);
                                    content: " ";
                                    height: 0;
                                    width: 0;
                                    position: absolute;
                                    pointer-events: none;
                                    border-width: 7px;
                                    margin-left: -7px;
                                    right: 10%;
                                }
                            }
                            &:hover{
                                .dropdown-menu{
                                    display: block;
                                }
                            }
                        }
                        &.user-profile{
                            .btn_1 {
                                border: none;
                                color: var(--color-dark);
                                background: var(--color-secondary);
                                outline: none;
                                cursor: pointer;
                                display: inline-block;
                                width: 100%;
                                text-decoration: none;
                                padding: 12px 25px;
                                font-weight: 500;
                                text-align: center;
                                font-size: 0.875rem;
                                transition: all 0.3s ease-in-out;
                                border-radius: 3px;
                                line-height: normal;
                                &:hover{
                                    background: var(--color-primary);
                                    color: var(--color-light);
                                }
                            }
                            .dropdown-menu{
                                display: none;
                                right: -20px;
                                left: unset;
                                border-top: 2px solid var(--color-primary);
                                border-left: none;
                                border-right: none;
                                border-bottom: none;
                                margin-top: 0px;
                                min-width: 0;
                                padding: 15px;
                                width: 260px;
                                top: 100%;
                                border-radius: 0;
                                box-shadow: 0px 5px 10px 0px var(--color-transparent-4);
                                font-size: 0.8125rem;
                                ul {
                                    padding: 0;
                                    list-style: none;
                                    float: left;
                                    margin: 15px -15px -15px -15px;
                                    li {
                                        width: 100%;
                                        position: relative;
                                        float: left;
                                        margin:0;
                                        padding: 0px 0;
                                        display: block;
                                        font-size: 0.875rem;
                                        border-top: 1px solid var(--color-light-7);
                                        &:nth-child(1){
                                            display: block;
                                        }
                                        a {
                                            height: auto !important;
                                            color: var(--color-dark-2) !important;
                                            border-left: 2px solid var(--color-transparent);
                                            display: block;
                                            padding: 20px 15px 20px 50px !important;
                                            position: relative;
                                            line-height: 1;
                                            transition: all 0.3s ease-in-out;
                                            i {
                                                font-size: 1.3125rem;
                                                margin-right: 10px;
                                                position: absolute;
                                                top: 17px;
                                                left: 15px;
                                            }
                                            &:hover {
                                                border-left: 2px solid var(--color-primary);
                                                color: var(--color-primary) !important;
                                                background-color: var(--color-light-2);
                                            }
                                        }
                                    }
                                }
                                &:before {
                                    bottom: 100%;
                                    border-left: solid var(--color-transparent);
                                    border-right: solid var(--color-transparent);
                                    border-top: solid var(--color-transparent);
                                    border-bottom: solid var(--color-primary);
                                    content: " ";
                                    height: 0;
                                    width: 0;
                                    position: absolute;
                                    pointer-events: none;
                                    border-width: 7px;
                                    margin-left: -7px;
                                    right: 10%;
                                }
                            }
                            &:hover{
                                .dropdown-menu{
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &.fixed_subHeader{
        position: fixed;
        top:0;
        width: 100%;
        z-index: 111;
        animation: subHeaderAnimate 0.5s ease;
        animation-delay: 0s;
        animation-fill-mode: none;
    }
}
}
main{
background-color: var(--color-light);
z-index: 2;
position: relative;
}

footer{
    background-color: var(--color-dark-3);
    padding: 60px 0 35px 0;
    z-index: 1;
    position: fixed;
    bottom: 0px;
    width: 100%;
    h3{
        font-size: 0.875rem;
        margin-bottom: 15px;
        transition: all 0.3s ease-in-out;
        color: var(--color-light);
        text-transform: uppercase;
    }
    .links{
         ul {
            margin: 0 0 25px 0;
            padding: 0;
            list-style: none;
            li {
                margin-bottom: 8px;
                line-height: 1.2;
                a{
                    position: relative;
                    color: var(--color-light);
                    opacity: 0.8;
                    transition: all 0.5s ease;
                    display: inline-block;
                    &::after {
                        font-family: 'Font Awesome 5 Free';
                        content: "\f061";
                        position: relative;
                        margin-left: 5px;
                        top: 2px;
                        opacity: 0;
                        transition: all 0.5s ease;
                        font-weight: 900; 
                    }
                    &:hover {
                        opacity: 1;
                        transform: translate(5px, 0);
                        color: var(--color-light);
                        &:after{
                                opacity: 1;
                                color: var(--color-light);
                        }
                    }
                }
            }
         }
    }
    .contacts{
        ul {
        margin: 0 0 25px 0;
        padding: 0;
        list-style: none;
            li {
                padding-left: 35px;
                position: relative;
                margin-bottom: 15px;
                color: var(--color-light);
                opacity: 0.8;
                i {
                    font-size: 1.125rem;
                    position: absolute;
                    top: 0;
                    left: 0;
                    color: var(--color-light);
                    line-height: 1;
                }
                a{
                    color: var(--color-light);
                }
            }
        }
    }
    #newsletter{
        position: relative;
     input[type="email"] {
        border: 0;
        height: 40px;
        border-radius: 0;
        padding-left: 15px;
        background-color: var(--color-transparent-2);
        color: var(--color-light-6);
        &:focus{
            box-shadow: none;
        }
     }
     button[type="submit"] {
        position: absolute;
        right: 0;
        color: var(--color-light);
        font-size: 1.125rem;
        top: 0;
        border: 0;
        padding: 0 12px;
        height: 40px;
        line-height: 44px;
        cursor: pointer;
        border-radius: 0 3px 3px 0;
        background-color: var(--color-primary);
        transition: all 0.3s ease-in-out;
        outline: none;
    }
    }
    .follow_us{
     h5 {
        font-size: 16px;
        font-size: 1rem;
        margin: 35px 0 10px 0;
        color: var(--color-light);
     }
        ul {
            margin: 0 0 25px 0;
            padding: 0;
            list-style: none;
            li {
                display: inline-block;
                margin: 0 10px 0 0;
                a{
                    i{
                        font-size: 30px;
                        &.facebook{
                            color: var(--color-facebook);
                        
                        }
                        &.twitter{
                            color: var(--color-twitter);
                        }
                        &.pinterest{
                            color: var(--color-pinterest);
                        }
                    }
                }
            }
        }
    }
    hr{
        border-color: var(--color-dark-4);
        margin: 5px 0 30px 0;
    }
    .sub_footer{
        margin-bottom: 25px;
        .footer-selector {
            margin: 0;
            padding: 0;
            list-style: none;
            li{
                float: left;
                margin-right: 10px;
                .styled-select {
                    width: 100%;
                    overflow: hidden;
                    height: 30px;
                    line-height: 32px;
                    border: none;
                    background-color: var(--color-transparent-2);
                    border-radius: 3px;
                    padding-right: 35px;
                    position: relative;
                    color: var(--color-light-6);
                    cursor: pointer;
                    margin-bottom: 5px;
                    select {
                        background: var(--color-transparent);
                        width: 110%;
                        padding-left: 10px;
                        border: 0;
                        box-shadow: none;
                        height: 30px;
                        color: var(--color-light-6);
                        font-size: 0.75rem;
                        margin: 0;
                        font-weight: 500;
                        -webkit-appearance: none;
                        cursor: pointer;
                        outline: none;
                    }
                    &::after {
                        font-family: 'Font Awesome 5 Free';
                        color: var(--color-light-6);
                        position: absolute;
                        right: 10px;
                        font-weight: 900;
                        top: 0;
                    }
                    &.lang-selector{
                        &:after {
                            content: "\f0ac";
                        }
                    }
                    &.currency-selector{
                        &:after {
                            content: "\f107";
                        }
                    }
                }
                &.payment-info{
                    margin-top: 3px;
                    .payment_icon{
                        display:inline-block;
                        vertical-align:middle;
                        width:41px;
                        height:25px; 
                        fill: var(--color-light);
                        margin-right:5px;
                        &.fill{
                            background: var(--color-light);
                            border-radius:3px;
                        }
                        &#visa{
                            .orange{fill:#D97B16 !important;}
                            .blue{fill:#265697 !important;}
                        }
                        &#amex{
                            .path1{fill:#306FC5 !important;}
                        }
                        &#discover{
                            .orange{fill:#D97B16 !important;}
                            .slate{fill:#444444 !important;}
                        } 
                        &#paypal{
                            .drkblue{fill:#265697 !important;}
                            .lightblue{fill:#306FC5 !important;}
                        } 
                        &#mastercard{
                            .path1{fill:#DFAC16 !important;}
                            .path2{fill:#BF3126 !important;}
                        } 
                      }

                }
            }
        }
        .additional_links {
            margin: 0;
            padding: 8px 0 0 0;
            color: var(--color-dark-2);
            float: right;
            li {
                display: inline-block;
                margin-right: 15px;
                &:first-child {
                    margin-right: 20px;
                }
                a{
                    color: var(--color-light);
                    opacity: 0.8;
                    transition: all 0.3s ease-in-out;
                    &::after {
                        content: "|";
                        font-weight: 300;
                        position: relative;
                        left: 10px;
                    }
                    &:hover {
                        opacity: 1;
                    }
                }
                span {
                    color: var(--color-light);
                    opacity: 0.8;
                    :hover {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

#scrollToTop {
    position: fixed;
    right: 0;
    opacity: 0;
    visibility: hidden;
    bottom: 25px;
    margin: 0 25px 0 0;
    z-index: 999;
    transform: scale(0.7);
    width: 46px;
    height: 46px;
    background-color: var(--color-primary);
    border: 2px solid var(--color-primary);
    transition: all 0.3s ease-in-out;
    border-radius: 50%;
    text-align: center;
    color: var(--color-light);
    outline: none;
    cursor: pointer;
    &.isShown {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
    }
    &:after {
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        content: "\f077";
        position: relative;
        display: block;
        top: 20px;
        font-size: 1.7rem;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}
@media only screen and (max-width: 991px) and (min-width: 0px){
header{
  .main-header{
    padding: 10px 15px;
        .navbar {
            .container{
                display: unset;
                .column-two{
                    .custom-navbar-toggler{
                        padding: 0;
                    }
                    .custom-navbar-links{
                        justify-content: center;
                        position: fixed;
                        right: 0;
                        width: 45%;
                        height: auto;
                        z-index: 1111111;
                        top: 0;
                        bottom: 0;
                        background-color: var(--color-light);
                        ul{
                            li{
                                border-bottom: 1px solid var(--color-light-7);
                                a{
                                    padding: 15px;
                                    color: var(--color-dark);
                                }
                            }
                        }
                        .navbar-brand-side{
                            display: block;
                            position: relative;
                            text-align: center;
                            padding: 25px 15px 10px 15px;
                            margin-bottom: 15px;
                            img{
                                width: 100px;
                                height: 30px;
                            }
                            .open_close{
                                position: absolute;
                                right:10px;
                                top:10px;
                                color: var(--color-dark);
                                font-size: 20px;
                                cursor: pointer;
                            }
                        }
                        &.show {
                            
                            -webkit-animation: slide 0.5s forwards;
                            animation: slide 0.5s forwards;
                        }
                        &.close{
                            display: block;
    
                            -webkit-animation: slide-out 0.5s forwards;
                            animation: slide-out 0.5s forwards;
                        }

                    }
                }
                .column-three{
                    a{
                        &.phone_top{
                            &:before {
                            font-family: "Font Awesome 5 Free";
                            font-size: 20px;
                            content: '\f095';
                            line-height: 1.5;
                            padding: 0;
                            margin: 0;
                            display: inline-block;
                            font-weight: 900;
                            transform: scale(-1) rotate(-80deg);
                            }
                            strong {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

footer{

    position: static;
}
}

@media only screen and (max-width: 768px) and (min-width: 0px){
header{
    .sub-header{
        background-color: var(--color-light);
        .navbar {
            .container{
                .column-two{
                    form{
                        padding: 10px 0;
                        input{
                            margin-bottom: 10px;
                        }
                        .input-group-append{
                            display: none;
                        }
                        .custom-btn-primary{
                            display: block;
                            background-color: var(--color-primary);
                            color: var(--color-light);
                            &:hover{
                            background-color: var(--color-secondary);
                            }

                        }
                    }
                    &.opened{
                        display: block;
                    }
                    &.closed{
                        display: none;
                    }
                }
                .column-three{
                    .icon-list{
                        li{

                            &:nth-child(1){
                                display: block;
                            }
                            &.add-to-cart{
                                &:hover{
                                    .dropdown-menu{
                                        display: none;
                                    }
                                }
                            }
                            &.user-profile{
                                &:hover{
                                    .dropdown-menu{
                                        display: none;
                                    }
                                }
                            }
                        }
                    }


                }
            }
        }
    }
}
footer{
    .sub_footer{
        .additional_links {
            float: none;
            padding-top: 15px;
        }
    }
}
}

@-webkit-keyframes slide {
0%{
    transform: translateX(-200%);
    left: -110%;
    display: none;
}
100% { left: 0;
    transform: translateX(0%);
    display: block;

}
}

@keyframes slide {
    0%{
        transform: translateX(-200%);
        left: -110%;
    display: none;

    }
100% { left: 0; 
    transform: translateX(0%);
    display: block;

}
}

@-webkit-keyframes slide-out {
    0% { left: 0; 
        transform: translateX(0%);
    }
    100% { left: -110%; transform: translateX(-200%);
    }
    }
    
    @keyframes slide-out {
        0% { left: 0; 
            transform: translateX(0%);
        }
    100% { left: -110%; transform: translateX(-200%);}
    }
    
@keyframes subHeaderAnimate{
    0% {
        transform: translateY(-60px);
    }
    100% {
        transform: translateY(0px);
    }
}