.confirm-section{
    background-color: var(--color-light-3);
    .confirm-content{
        text-align: center;
        background-color: var(--color-light-3);
        padding: 150px 15px;
        #confimr-tick{
            width: 100px;
            margin-bottom: 20px;
            .circ{
                opacity: 0;
                stroke-dasharray: 130;
                -webkit-transition: all 1s;
                -moz-transition: all 1s;
                -ms-transition: all 1s;
                -o-transition: all 1s;
                transition: all 1s;
                animation: circAnimation 0.5s linear forwards;
                stroke: var(--color-success);
            }
            .tick{
                opacity: 0;
                stroke-dasharray: 50;
                -webkit-transition: stroke-dashoffset 1s 0.5s ease-out;
                -moz-transition: stroke-dashoffset 1s 0.5s ease-out;
                -ms-transition: stroke-dashoffset 1s 0.5s ease-out;
                -o-transition: stroke-dashoffset 1s 0.5s ease-out;
                transition: stroke-dashoffset 1s 0.5s ease-out;
                animation: tickAnimation 0.5s linear forwards 0.5s;
                stroke: var(--color-success);
            }
        }
        h2{
            color: var(--color-dark);
            font-weight: 500;
        }
        p{
            color: var(--color-dark-2);
        }
    }
}
@keyframes circAnimation{
    0%{
        opacity: 0;
        stroke-dashoffset: 130;
    }
    100%{
        opacity: 1;
        stroke-dashoffset: 0;
    }
}

@keyframes tickAnimation{
    0%{
        opacity: 0;
        stroke-dashoffset: 50;
    }
    100%{
        opacity: 1;
        stroke-dashoffset: 0;
    }
}