<div class="confirm-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-5">
        <div class="confirm-content">
          <svg version="1.1" id="confimr-tick" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 37 37" style="enable-background:new 0 0 37 37;" xml:space="preserve">
            <path class="circ path" style="fill:none;stroke-width:1;stroke-linejoin:round;stroke-miterlimit:10;" d="
              M30.5,6.5L30.5,6.5c6.6,6.6,6.6,17.4,0,24l0,0c-6.6,6.6-17.4,6.6-24,0l0,0c-6.6-6.6-6.6-17.4,0-24l0,0C13.1-0.2,23.9-0.2,30.5,6.5z"
              />
            <polyline class="tick path" style="fill:none;stroke-width:1;stroke-linejoin:round;stroke-miterlimit:10;" points="
              11.6,20 15.9,24.2 26.4,13.8 "/>
          </svg>
          <h2>Order completed!</h2>
          <p>You will receive a confirmation email soon!</p>
        </div>
      </div>
    </div>
  </div>
</div>