.help-search-section{
    padding-top: 90px;
    padding-bottom: 65px;
    background-color: var(--color-light-3);
    .main_title {
        position: relative;
        margin-bottom: 45px;
        text-align: center;
        h1 {
            font-size: 2.625rem;
        }
        p {
            font-size: 1.4375rem;
            font-weight: 300;
            padding: 0 15%;
            position: relative;
            z-index: 2;
        }
    }
    .search-input {
        padding: 0;
        width: 100%;
        margin: 0 0 30px 0;
        position: relative;
        border-radius: 3px;
        input[type="text"] {
            width: 100%;
            height: 50px;
            border: 0;
            border-radius: 3px;
            background-color: var(--color-light);
            border: 1px solid var(--color-light-4);
            padding: 15px;
        }
        button[type="submit"] {
            position: absolute;
            transition: all 0.3s ease-in-out;
            font-size: 24px;
            font-size: 1.5rem;
            top: 10px;
            right: 5px;
            border: 0;
            cursor: pointer;
            outline: none;
            background: none;
        }
    }
}

.help-support-section{
    padding-top: 90px;
    padding-bottom: 65px;
    .main_title {
        position: relative;
        margin-bottom: 45px;
        text-align: center;
        h2 {
            font-size: 2.25rem;
            font-weight: 500;
            margin: 0;
            position: relative;
            z-index: 2;
        }
        p {
            font-size: 1.4375rem;
            font-weight: 300;
            padding: 0 15%;
            position: relative;
            z-index: 2;
        }   
    }
    .box_help_topic{
        padding: 30px 30px 5px 110px;
        position: relative;
        display: block;
        transition: all 0.3s ease-in-out;
        color: var(--color-dark-2);
        margin-bottom: 30px;
        border-radius: 3px;
        min-height: 165px;
        border: 1px solid var(--color-light-7);
        i {
            position: absolute;
            left: 30px;
            top: 30px;
            font-size: 3.25rem;
            color: var(--color-primary);
            margin-bottom: 10px;
        }
        h3 {
            font-size: 1.125rem;
            color: var(--color-primary);
        }
        p {
            font-size: 1rem;
        }
        &:hover {
            border: 1px solid transparent;
            box-shadow: 0px 0px 25px 0px rgba(0,77,218,0.1);
            transform: translateY(-10px);
        }
    }
}