<div class="related-product-section">
  <div class="container">
    <div class="main_title">
      <h2>Related</h2>
      <span>Products</span>
      <p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="related-product-slider">
          <div class="item-container">
            <figure>
              <span class="ribbon off">-30%</span>
              <a>
                <img class="img-fluid" src="https://via.placeholder.com/400x400?text=products" alt="">
              </a>
              <div class="countdown">00D 00:00:00</div>
            </figure>
            <div class="rating"><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star"></i></div>
            <a>
              <h3>Armor Air x Fear</h3>
            </a>
            <div class="price_box">
              <span class="new_price">$48.00</span>
              <span class="old_price">$60.00</span>
            </div>
            <ul>
              <li><a href="#" class="tooltip-1"  title=""><i class="far fa-heart"></i></a></li>
              <li><a href="#" class="tooltip-1"  title=""><i class="fas fa-random"></i></a></li>
              <li><a href="#" class="tooltip-1"  title=""><i class="fas fa-shopping-cart"></i></a></li>
            </ul>
          </div>
          <div class="item-container">
            <figure>
              <span class="ribbon off">-30%</span>
              <a>
                <img class="img-fluid" src="https://via.placeholder.com/400x400?text=products" alt="">
              </a>
              <div class="countdown">00D 00:00:00</div>
            </figure>
            <div class="rating"><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star"></i></div>
            <a>
              <h3>Armor Air x Fear</h3>
            </a>
            <div class="price_box">
              <span class="new_price">$48.00</span>
              <span class="old_price">$60.00</span>
            </div>
            <ul>
              <li><a href="#" class="tooltip-1"  title="" placement="left" ngbTooltip="Add to favorites"><i class="far fa-heart"></i></a></li>
              <li><a href="#" class="tooltip-1"  title="" placement="left" ngbTooltip="Add to compare"><i class="fas fa-random"></i></a></li>
              <li><a href="#" class="tooltip-1"  title="" placement="left" ngbTooltip="Add to cart"><i class="fas fa-shopping-cart"></i></a></li>
            </ul>
          </div>
          <div class="item-container">
            <figure>
              <span class="ribbon off">-30%</span>
              <a>
                <img class="img-fluid" src="https://via.placeholder.com/400x400?text=products" alt="">
              </a>
              <div class="countdown">00D 00:00:00</div>
            </figure>
            <div class="rating"><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star"></i></div>
            <a>
              <h3>Armor Air x Fear</h3>
            </a>
            <div class="price_box">
              <span class="new_price">$48.00</span>
              <span class="old_price">$60.00</span>
            </div>
            <ul>
              <li><a href="#" class="tooltip-1"  title="" placement="left" ngbTooltip="Add to favorites"><i class="far fa-heart"></i></a></li>
              <li><a href="#" class="tooltip-1"  title="" placement="left" ngbTooltip="Add to compare"><i class="fas fa-random"></i></a></li>
              <li><a href="#" class="tooltip-1"  title="" placement="left" ngbTooltip="Add to cart"><i class="fas fa-shopping-cart"></i></a></li>
            </ul>
          </div>
          <div class="item-container">
            <figure>
              <span class="ribbon off">-30%</span>
              <a>
                <img class="img-fluid" src="https://via.placeholder.com/400x400?text=products" alt="">
              </a>
              <div class="countdown">00D 00:00:00</div>
            </figure>
            <div class="rating"><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star"></i></div>
            <a>
              <h3>Armor Air x Fear</h3>
            </a>
            <div class="price_box">
              <span class="new_price">$48.00</span>
              <span class="old_price">$60.00</span>
            </div>
            <ul>
              <li><a href="#" class="tooltip-1"  title="" placement="left" ngbTooltip="Add to favorites"><i class="far fa-heart"></i></a></li>
              <li><a href="#" class="tooltip-1"  title="" placement="left" ngbTooltip="Add to compare"><i class="fas fa-random"></i></a></li>
              <li><a href="#" class="tooltip-1"  title="" placement="left" ngbTooltip="Add to cart"><i class="fas fa-shopping-cart"></i></a></li>
            </ul>
          </div>
          <div class="item-container">
            <figure>
              <span class="ribbon off">-30%</span>
              <a>
                <img class="img-fluid" src="https://via.placeholder.com/400x400?text=products" alt="">
              </a>
              <div class="countdown">00D 00:00:00</div>
            </figure>
            <div class="rating"><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star"></i></div>
            <a>
              <h3>Armor Air x Fear</h3>
            </a>
            <div class="price_box">
              <span class="new_price">$48.00</span>
              <span class="old_price">$60.00</span>
            </div>
            <ul>
              <li><a href="#" class="tooltip-1"  title="" placement="left" ngbTooltip="Add to favorites"><i class="far fa-heart"></i></a></li>
              <li><a href="#" class="tooltip-1"  title="" placement="left" ngbTooltip="Add to compare"><i class="fas fa-random"></i></a></li>
              <li><a href="#" class="tooltip-1"  title="" placement="left" ngbTooltip="Add to cart"><i class="fas fa-shopping-cart"></i></a></li>
            </ul>
          </div>
          <div class="item-container">
            <figure>
              <span class="ribbon off">-30%</span>
              <a>
                <img class="img-fluid" src="https://via.placeholder.com/400x400?text=products" alt="">
              </a>
              <div class="countdown">00D 00:00:00</div>
            </figure>
            <div class="rating"><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star"></i></div>
            <a>
              <h3>Armor Air x Fear</h3>
            </a>
            <div class="price_box">
              <span class="new_price">$48.00</span>
              <span class="old_price">$60.00</span>
            </div>
            <ul>
              <li><a href="#" class="tooltip-1"  title="" placement="left" ngbTooltip="Add to favorites"><i class="far fa-heart"></i></a></li>
              <li><a href="#" class="tooltip-1"  title="" placement="left" ngbTooltip="Add to compare"><i class="fas fa-random"></i></a></li>
              <li><a href="#" class="tooltip-1"  title="" placement="left" ngbTooltip="Add to cart"><i class="fas fa-shopping-cart"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>