.related-product-section{
    padding-top: 60px;
    padding-bottom: 35px;

    .main_title {
        position: relative;
        margin-bottom: 45px;
        text-align: center;
        h2 {
            font-size: 2.25rem;
            font-weight: 500;
            margin: 0;
            position: relative;
            z-index: 2;
        }
        span {
            display: block;
            content: attr(data-mask);
            position: absolute;
            text-align: center;
            margin-top: -15px;
            top: 0;
            font-weight: 900;
            font-size: 65px;
            line-height: 1;
            z-index: 1;
            color: var(--color-light-2);
            text-transform: uppercase;
            width: 100%;
        }
        p {
            font-size: 1.4375rem;
            font-weight: 300;
            padding: 0 15%;
            position: relative;
            z-index: 2;
        }
    }
    .tns-controls{
        button{
            z-index: 11;
            width: 40px;
            height: 40px;
            position: absolute;
            top:30%;
            display: block;
            background: var(--color-light);
            line-height: 46px;
            border: 1px solid var(--color-light-7);
            outline: none;
            &[data-controls="prev"]{
                left:0;

                .prev{
                    font-size: 1.3125rem;
                    color: var(--color-light-6);
                    line-height: 40px;
                }
            }
            &[data-controls="next"]{

                right:0;
                .next{
                    font-size: 1.3125rem;
                    color: var(--color-light-6);
                    line-height: 40px;
                }
            }
    }
    }
    .tns-nav{
        text-align: center;
        margin-top: 10px;
        button{
            background: var(--color-transparent);
            border: 2px solid var(--color-light-6);

            border-radius: 50%;
            width: 16px;
            height: 16px;
            margin-right: 15px;
            position: relative;
            outline: none;
            &.tns-nav-active{
                border: 2px solid var(--color-primary);
                transition: all .3s ease;
                &:after{
                    content: '';
                    position: absolute;
                    top:2px;
                    left:2px;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background-color: var(--color-primary);
                    transition: all 1s ease-in-out;
                }
            }
        }
    }
    .item-container{
        margin-bottom: 25px;
        text-align: center;
        position: relative;
        cursor: pointer;
        figure {
            position: relative;
            overflow: hidden;
            transition: all 0.7s ease;
            .ribbon {
                color: var(--color-light);
                display: inline-block;
                font-size: 11px;
                font-size: 0.6875rem;
                left: 10px;
                line-height: 1;
                position: absolute;
                text-align: center;
                text-transform: uppercase;
                top: 10px;
                padding: 7px 10px;
                font-weight: 600;
                min-width: 45px;
                z-index: 1;
                &:before {
                    border-style: solid solid solid none;
                    border-width: 9px 9px 9px 0;
                    bottom: -15px;
                    content: "";
                    left: 0;
                    position: absolute;
                    width: 9px;
                }
                &.off {
                    background-color: var(--color-danger);
                    &:before {
                        border-color: var(--color-danger) transparent transparent;
                    }
                }
                &.new{
                    background-color: var(--color-warning);
                    &:before {
                        border-color: var(--color-warning) transparent transparent;
                    }
                }
                &.hot{
                    background-color: var(--color-success);
                    &:before {
                        border-color: var(--color-success) transparent transparent;
                    }
                }
            }
            img {
                visibility: visible;
                opacity: 1;
                transform: translateZ(0);
            }
            &:hover {
                box-shadow: 0 20px 20px -20px var(--color-transparent-4);
                img{
                    visibility: visible;
                    opacity: 1;
                    transform: scale(1.05);
                    transition: opacity 0.5s ease,transform 1.5s cubic-bezier(0, 0, 0.44, 1.18),-webkit-transform 2s cubic-bezier(0, 0, 0.44, 1.18);
                }
            }
            .countdown {
                color: var(--color-light);
                font-weight: 600;
                width: 100px;
                height: 22px;
                position: absolute;
                left: 50%;
                margin-left: -45px;
                bottom: 25px;
                z-index: 1;
                line-height: 23px;
                box-sizing: border-box;
                font-size: 12px;
                font-size: 0.75rem;
                background: var(--color-danger);
                text-align: center;
                &:before{
                    position: absolute;
                    left: -37px;
                    top: -9px;
                    content: '\f2f2';
                    font-family: 'Font Awesome 5 Free';
                    font-weight: 900;
                    font-size: 28px;
                    display: inline-block;
                    color:  var(--color-light);
                    width: 40px;
                    height: 40px;
                    padding: 8px 0 0 0;
                    border-radius: 50%;
                    background-color: var(--color-danger);
                }
            }
        }
        .rating {
            display: block;
            margin-bottom: 0;
            color: var(--color-light-6);
            i{
            &.voted {
                color: var(--color-secondary);
            }
            &::before {
                margin: 2px;
                content: '\f005';
                font-family: 'Font Awesome 5 Free';
                font-weight: 900;
                font-size: 16px;
                font-style: normal;
            }
            }
        }
        a{
            h3 {
            font-size: 14px;
            font-size: 0.875rem;
            margin: 3px 0 0 0;
            color: var(--color-dark-2);
            font-weight: 500;
            display: inline-block;
            }
        }
        .price_box {
            margin-bottom: 5px;
            .new_price {
                color: var(--color-primary);
                font-weight: 500;
                font-size: 1rem;
                margin-right: 3px;
            }
            .old_price {
                color: var(--color-light-5);
                text-decoration: line-through;
                display: inline-block;
                white-space: nowrap;
                font-weight: 500;
                font-size: 0.875rem;
            }
        }
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            position: absolute;
            right: 20px;
            top: 10px;
            font-size: 18px;
            font-size: 1.125rem;
            line-height: 1;
            z-index: 2;
            li {
                margin-bottom: 5px;
                animation: fadeIn 0.1s ease;
                    animation-delay: 0s;
                    animation-fill-mode: none;
                animation-fill-mode: both;
                display: none;
                position: relative;
                a {
                    background-color: var(--color-light);
                    -webkit-border-radius: 0;
                    -moz-border-radius: 0;
                    -ms-border-radius: 0;
                    border-radius: 0;
                    width: 36px;
                    height: 36px;
                    color: var(--color-dark-2);
                    text-align: center;
                    line-height: 40px;
                    display: block;
                    margin: 0;
                    padding: 0;
                    span {
                        display: none;
                    }
                    &:hover {
                        background-color: var(--color-primary);
                        i {
                            color: var(--color-light);
                        }
                    }
                }
                &:nth-child(1) {
                    animation-delay: 0.05s;
                }
                &:nth-child(2) {
                    animation-delay: 0.1s;
                }
                &:nth-child(3) {
                    animation-delay: 0.15s;
                }
            }
        }
        &:hover{
            ul li {
                display: block;
            }
        }
    }
}

@keyframes fadeIn{
    0%{
        opacity: 0;
        transform: translateX(10px);
    }
    75%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}