/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* Importing Icons */
@import '~@fortawesome/fontawesome-free/css/all.min.css';

/* Importing Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root{
    --color-primary: #004dda;
    --color-secondary: #FFC107;
    --color-danger: #F33;
    --color-warning: #9933cc;
    --color-success: #0C0;
    --color-dark: #111;
    --color-dark-2: #444;
    --color-dark-3: #172134;
    --color-dark-4: #3a4252;
    --color-dark-5: #000;
    --color-dark-6: #333;
    --color-light: #fff;
    --color-light-2: #f2f2f2;
    --color-light-3: #f8f8f8;
    --color-light-4: #ddd;
    --color-light-5: #999;
    --color-light-6: #ccc;
    --color-light-7: #ededed;
    --color-light-8: #777;
    --color-transparent: transparent;
    --color-transparent-2: rgba(255,255,255,0.05);
    --color-transparent-3: rgba(0,0,0,0.6);
    --color-transparent-4: rgba(0,0,0,0.2);
    --color-transparent-5: rgba(0,0,0,0.1);
    --color-facebook:#4267B2;
    --color-twitter: #1DA1F2;
    --color-pinterest: #c8232c;
    --color-google: #DC4E41;
}


body{
    font-family: "Roboto",Arial,Helvetica,sans-serif;
    font-size: 0.875rem;
}
.container {
    max-width: 1220px;
}
a,a:hover{
    text-decoration: none;
}
.tooltip {
    .tooltip-inner{
        white-space: nowrap;
    }
}
@media only screen and (max-width: 991px) and (min-width: 0px){

    .container{
        max-width: 100%;
    }
}
@media only screen and (max-width: 768px) and (min-width: 0px){
    .container{
        max-width: 100%;
    }
}