.product-checkout-section{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var(--color-light-3);
    .page-header{
        margin-bottom: 30px;
        .breadcrumbs {
            color: var(--color-dark-2);
            ul{
                margin: 0 0 10px 0;
                padding: 0;
                font-size: 0.75rem;
                li{
                    display: inline-block;
                    margin-right: 7px;
                    padding-right: 8px;
                    position: relative;
                    font-weight: 500;
                    &:after{
                        content: "\f105";
                        font-family: 'Font Awesome 5 Free';
                        font-weight: 900;
                        font-size: 0.8rem;
                        position: absolute;
                        display: inline-block;
                        top: 0px;
                        margin-left: 3px;
                    }
                    a{
                        color: var(--color-dark-2);
                        opacity: 0.6;
                        &:hover {
                            color: var(--color-dark);
                            opacity: 1;
                        }

                    }
                    &:last-child::after {
                        content: '';
                        margin-right: 0;
                    }
                    &:after {
                        color: var(--color-dark-2);
                        opacity: 0.6;
                    }
                }
            }
        }
        h1 {
            font-size: 1.5rem;
            margin: 0 0 5px 0;
            color: var(--color-dark)
        }
    }

    .step {
        margin-bottom: 30px;
        h3 {
            padding: 10px 12px 10px 20px;
            background: var(--color-dark-6);
            position: relative;
            margin-bottom: 15px;
            color: var(--color-light);
            font-size: 16px;
            font-size: 1rem;
            &:before {
                width: 0;
                height: 0;
                border-top: 20px inset transparent;
                border-bottom: 20px inset transparent;
                border-left: 10px solid var(--color-light-3);
                position: absolute;
                content: "";
                top: 0;
                left: 0;
            }
            &:after {
                width: 0;
                height: 0;
                border-top: 20px inset transparent;
                border-bottom: 20px inset transparent;
                border-left: 10px solid var(--color-dark-6);
                position: absolute;
                content: "";
                top: 0;
                right: -10px;
                z-index: 2;
            }
            
        }
        &.first{
            h3{
                &:before {
                    border: none;
                }
            }
        }
        &.last{
            h3{
                &:after {
                    border: none;
                }
            }
        }

        .checkout {
            .nav-pills{
                border: none;
                border-bottom-color: currentcolor;
                border-bottom-style: none;
                border-bottom-width: medium;
                border-bottom: 2px solid var(--color-light-4);
                margin-bottom: 10px;
                .nav-item {
                    margin-bottom: -2px;
                }    
                .nav-link {
                    border: none;
                    border-top-color: currentcolor;
                    border-right-color: currentcolor;
                    border-bottom-color: currentcolor;
                    border-bottom-style: none;
                    border-bottom-width: medium;
                    border-left-color: currentcolor;
                    display: block;
                    border-radius: 0;
                    padding: 0 15px;
                    height: 30px;
                    font-size: 15px;
                    font-size: 0.9375rem;
                    color: var(--color-dark-2);
                    &.active{
                        border-bottom: 2px solid var(--color-primary);
                        color: var(--color-primary);
                        background-color: transparent;
                    }
                }
            }
            .form-group {
                margin-bottom: 10px;
                position: relative;
                .form-control {
                    padding: 10px;
                    font-size: 14px;
                    font-size: 0.875rem;
                    border-radius: 3px;
                    border: 1px solid var(--color-light-4);
                    height: calc(1.75em + .75rem + 2px);
                    &:focus {
                        border-color: var(--color-light-6);
                        outline: 0;
                        box-shadow: 0 0 0 0.2rem var(--color-transparent-5);
                    }
                }
            }
            .container_check {
                display: block;
                position: relative;
                padding-left: 30px;
                line-height: 1.7;
                margin-bottom: 8px;
                cursor: pointer;
                font-size: 0.875rem;
                user-select: none;
                font-weight: 500;
                input {
                    position: absolute;
                    opacity: 0;
                    cursor: pointer;
                    &:checked ~ .checkmark {
                        background-color: var(--color-primary);
                        border: 1px solid transparent;
                    }
                }
                .checkmark {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 20px;
                    width: 20px;
                    border: 1px solid var(--color-light-4);
                    background-color: var(--color-light);
                    border-radius: 3px;
                    transition: all 0.3s ease-in-out;
                    &::after {
                        content: "";
                        position: absolute;
                        display: block;
                        left: 7px;
                        top: 3px;
                        width: 5px;
                        height: 10px;
                        border: solid var(--color-light);
                        border-top-width: medium;
                        border-right-width: medium;
                        border-bottom-width: medium;
                        border-left-width: medium;
                        border-width: 0 2px 2px 0;
                        transform: rotate(45deg);
                    }
                }
                
            }
            #forgot {
                color: var(--color-light-5);
                font-weight: 500;
            }
            .no-gutters {
                margin-right: 0;
                margin-left: 0;
                > [class*="col-"] {
                    padding-right: 0;
                    padding-left: 0;
                }
            }
            hr {
                margin: 10px 0;
                border: 0;
                border-top: 1px solid var(--color-light-4);
            }
            .dropdown, .dropup {
                position: relative;
                text-align: left;
                a{
                    &.drop {
                    color: var(--color-dark-2);
                    font-weight: 500;
                    transition: all 0.3s;
                    display: block;
                    position: relative;
                    background-color: var(--color-light);
                    border: 1px solid  var(--color-light-4);
                    padding: 10px;
                    height: 40px;
                    line-height: 1.5;
                    &:after{
                        font-family: 'Font Awesome 5 Free';
                        font-weight: 900;
                        content: "\f078";
                        font-size: 1rem;
                        color: var(--color-light-5);
                        transition: all 0.3s ease-in-out;
                        position: absolute;
                        right: 10px;
                        top: 7px;
                        border: none;
                    }
                    }
                    &.apply_filter {
                        text-align: center;
                        background-color: var(--color-primary);
                        color: var(--color-light);
                        display: block;
                        padding: 10px 0;
                        line-height: 1;
                        font-weight: 500;
                        border-radius: 3px;
                    }
                }
                &.show{
                     a{
                         &:after {
                            transform: rotate(180deg);
                         }
                     }
                }
                .dropdown-menu {
                    background: var(--color-light);
                    border: none;
                    border-radius: 0;
                    box-shadow: 0px 5px 10px 0px var(--color-transparent-4);
                    white-space: normal;
                    width: 100%;
                    color: var(--color-dark-2);
                    ul{
                        padding: 0;
                        margin: 0;
                        li{
                            list-style: none;
                            padding: 5px 10px;
                            &:hover{
                                background-color: var(--color-light-2);
                                cursor: pointer;
                            }
                        }
                    }

                }
            }
            .social_bt{
                border-radius: 3px;
                text-align: center;
                color: var(--color-light);
                min-width: 200px;
                margin-bottom: 15px;
                display: block;
                padding: 12px;
                line-height: 1;
                position: relative;
                transition: all 0.3s ease-in-out;
                cursor: pointer;
                &.facebook {
                    background-color: var(--color-facebook);
                    &:before{
                        font-family: 'Font Awesome 5 Brands';
                        font-weight: 900;
                        content: "\f39e";
                        position: absolute;
                        left: 12px;
                        top: 10px;
                        font-size: 1rem;
                        color: var(--color-light);
 
                    }
                }
                &.google {
                    background-color: var(--color-google);
                    &:before{
                        font-family: 'Font Awesome 5 Brands';
                        font-weight: 900;
                        content: "\f0d5";
                        position: absolute;
                        left: 12px;
                        font-size: 1rem;
                        color: var(--color-light);
                        top: 12px;
                    }
                }
            }
            .btn_1 {
                border: none;
                color: var(--color-light);
                background: var(--color-primary);
                outline: none;
                cursor: pointer;
                display: inline-block;
                text-decoration: none;
                padding: 12px 25px;
                font-weight: 500;
                text-align: center;
                font-size: 14px;
                font-size: 0.875rem;
                transition: all 0.3s ease-in-out;
                border-radius: 3px;
                line-height: normal;
                &:hover{
                    background: var(--color-secondary);
                }
                &.full-width {
                    display: block;
                    width: 100%;
                    text-align: center;
                    margin-bottom: 5px;
                }
            }
        }
        
        &.payments{
            ul {
                list-style: none;
                margin: 0 0 30px 0;
                padding: 0;
                li{
                    border-bottom: 1px solid var(--color-light-7);
                    margin-bottom: 8px;
                    .container_radio {
                        display: block;
                        position: relative;
                        padding-left: 30px;
                        line-height: 1.7;
                        margin-bottom: 8px;
                        font-weight: 500;
                        cursor: pointer;
                        user-select: none;
                        .info{
                                float: right;
                                color: var(--color-dark-2);
                            &:after {
                                font-family: 'Font Awesome 5 Free';
                                font-weight: 900;
                                content: "\f059";
                                position: relative;
                                right: 0;
                                top: 0;
                            }
                        }
                        input {
                            position: absolute;
                            opacity: 0;
                            &:checked ~ .checkmark::after {
                                opacity: 1;
                            }
                        }
                        .checkmark {
                            position: absolute;
                            top: 0;
                            left: 0;
                            height: 20px;
                            width: 20px;
                            border: 1px solid var(--color-light-4);
                            background-color: var(--color-light);
                            border-radius: 50%;
                            transition: all 0.3s ease-in-out;
                            &:after {
                                display: block;
                                content: "";
                                position: absolute;
                                opacity: 0;
                                transition: all 0.3s ease-in-out;
                                top: 3px;
                                left: 3px;
                                width: 12px;
                                height: 12px;
                                border-radius: 50%;
                                background: var(--color-primary);
                                transition: all 0.3s ease-in-out;
                            }
                        }
                    }
                }
            }        
            .payment_info{
                 figure {
                     .payment_icon{
                        display:inline-block;
                        vertical-align:middle;
                        width:41px;
                        height:25px; 
                        fill: var(--color-light);
                        margin-right:5px;
                        &.fill{
                            background: var(--color-light);
                            border-radius:3px;
                        }
                        &#visa{
                            .orange{fill:#D97B16 !important;}
                            .blue{fill:#265697 !important;}
                        }
                        &#amex{
                            .path1{fill:#306FC5 !important;}
                        }
                        &#discover{
                            .orange{fill:#D97B16 !important;}
                            .slate{fill:#444444 !important;}
                        } 
                        &#paypal{
                            .drkblue{fill:#265697 !important;}
                            .lightblue{fill:#306FC5 !important;}
                        } 
                        &#mastercard{
                            .path1{fill:#DFAC16 !important;}
                            .path2{fill:#BF3126 !important;}
                        } 
                      }
                 }
            }            
        }
        &.last{
            .summary {
                box-shadow: none;
                background-color: var(--color-light);
                margin-bottom: 25px;
                padding: 25px 25px 20px 25px;
                border: 1px solid var(--color-light-7);
                ul {
                    list-style: none;
                    margin: 0 0 15px 0;
                    padding: 0;
                    border-bottom: 1px solid var(--color-light-7);
                    li {
                        padding: 0;
                        margin: 0 0 15px 0;
                        font-weight: 500;
                        display: block;
                        line-height: 1.3;
                        em {
                            font-style: normal;
                            float: left;
                            width: 70%;
                            font-weight: 400;
                        }
                        span {
                            float: right;
                            text-align: right;
                            width: 30%;
                            font-weight: 700;
                        }
                    }
                }
                .total {
                    font-size: 18px;
                    font-size: 1.125rem;
                    font-weight: 700;
                    border-bottom: none;
                    color: var(--color-danger);
                    span {
                        float: right;
                        margin-bottom: 15px;
                    }
                }
                .container_check {
                    display: block;
                    position: relative;
                    padding-left: 30px;
                    line-height: 1.7;
                    margin-bottom: 8px;
                    cursor: pointer;
                    font-size: 0.75rem;
                    user-select: none;
                    input {
                        position: absolute;
                        opacity: 0;
                        cursor: pointer;
                        &:checked ~ .checkmark {
                            background-color: var(--color-primary);
                            border: 1px solid transparent;
                        }
                    }
                    .checkmark {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 20px;
                        width: 20px;
                        border: 1px solid var(--color-light-4);
                        background-color: var(--color-light);
                        border-radius: 3px;
                        transition: all 0.3s ease-in-out;
                        &::after {
                            content: "";
                            position: absolute;
                            display: block;
                            left: 7px;
                            top: 3px;
                            width: 5px;
                            height: 10px;
                            border: solid var(--color-light);
                            border-top-width: medium;
                            border-right-width: medium;
                            border-bottom-width: medium;
                            border-left-width: medium;
                            border-width: 0 2px 2px 0;
                            transform: rotate(45deg);
                        }
                    }
                    
                }
                .btn_1 {
                    border: none;
                    color: var(--color-light);
                    background: var(--color-primary);
                    outline: none;
                    cursor: pointer;
                    display: inline-block;
                    text-decoration: none;
                    padding: 12px 25px;
                    font-weight: 500;
                    text-align: center;
                    font-size: 14px;
                    font-size: 0.875rem;
                    transition: all 0.3s ease-in-out;
                    border-radius: 3px;
                    line-height: normal;
                    &:hover{
                        background: var(--color-secondary);
                    }
                    &.full-width {
                        display: block;
                        width: 100%;
                        text-align: center;
                        margin-bottom: 5px;
                    }
                }
            }

        }

    }
}