.product_listing_section{
    padding-top: 60px;
    padding-bottom: 35px;

    .zerogrid{ 
        width:100%;
        position: relative;
        float: left;
        &:after{
            content: "\0020";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
            }
        .f-right{float: right!important;}
        .f-left{float: left!important;}
        .small-gutters {
            margin-right: -5px !important;
            margin-left: -5px !important;
            > [class*="col-"] {
                padding-right: 5px !important;
                padding-left: 5px !important;
            }
        }
        .galley-item{
            float: left;
            .item-container{
                margin-bottom: 25px;
                text-align: center;
                position: relative;
                cursor: pointer;
                figure {
                    position: relative;
                    overflow: hidden;
                    transition: all 0.7s ease;
                    .ribbon {
                        color: var(--color-light);
                        display: inline-block;
                        font-size: 11px;
                        font-size: 0.6875rem;
                        left: 10px;
                        line-height: 1;
                        position: absolute;
                        text-align: center;
                        text-transform: uppercase;
                        top: 10px;
                        padding: 7px 10px;
                        font-weight: 600;
                        min-width: 45px;
                        z-index: 1;
                        &:before {
                            border-style: solid solid solid none;
                            border-width: 9px 9px 9px 0;
                            bottom: -15px;
                            content: "";
                            left: 0;
                            position: absolute;
                            width: 9px;
                        }
                        &.off {
                            background-color: var(--color-danger);
                            &:before {
                                border-color: var(--color-danger) transparent transparent;
                            }
                        }
                        &.new{
                            background-color: var(--color-warning);
                            &:before {
                                border-color: var(--color-warning) transparent transparent;
                            }
                        }
                        &.hot{
                            background-color: var(--color-success);
                            &:before {
                                border-color: var(--color-success) transparent transparent;
                            }
                        }
                    }
                    img {
                        visibility: visible;
                        opacity: 1;
                        transform: translateZ(0);
                    }
                    &:hover {
                        box-shadow: 0 20px 20px -20px var(--color-transparent-4);
                        img{
                            visibility: visible;
                            opacity: 1;
                            transform: scale(1.05);
                            transition: opacity 0.5s ease,transform 1.5s cubic-bezier(0, 0, 0.44, 1.18),-webkit-transform 2s cubic-bezier(0, 0, 0.44, 1.18);
                        }
                    }
                    .countdown {
                        color: var(--color-light);
                        font-weight: 600;
                        width: 100px;
                        height: 22px;
                        position: absolute;
                        left: 50%;
                        margin-left: -45px;
                        bottom: 25px;
                        z-index: 1;
                        line-height: 23px;
                        box-sizing: border-box;
                        font-size: 12px;
                        font-size: 0.75rem;
                        background: var(--color-danger);
                        text-align: center;
                        &:before{
                            position: absolute;
                            left: -37px;
                            top: -9px;
                            content: '\f2f2';
                            font-family: 'Font Awesome 5 Free';
                            font-weight: 900;
                            font-size: 28px;
                            display: inline-block;
                            color:  var(--color-light);
                            width: 40px;
                            height: 40px;
                            padding: 8px 0 0 0;
                            border-radius: 50%;
                            background-color: var(--color-danger);
                        }
                    }
                }
                .rating {
                    display: block;
                    margin-bottom: 0;
                    color: var(--color-light-6);
                    i{
                    &.voted {
                        color: var(--color-secondary);
                    }
                    &::before {
                        margin: 2px;
                        content: '\f005';
                        font-family: 'Font Awesome 5 Free';
                        font-weight: 900;
                        font-size: 16px;
                        font-style: normal;
                    }
                    }
                }
                a{
                    h3 {
                    font-size: 14px;
                    font-size: 0.875rem;
                    margin: 3px 0 0 0;
                    color: var(--color-dark-2);
                    font-weight: 500;
                    display: inline-block;
                    }
                }
                .price_box {
                    margin-bottom: 5px;
                    .new_price {
                        color: var(--color-primary);
                        font-weight: 500;
                        font-size: 1rem;
                        margin-right: 3px;
                    }
                    .old_price {
                        color: var(--color-light-5);
                        text-decoration: line-through;
                        display: inline-block;
                        white-space: nowrap;
                        font-weight: 500;
                        font-size: 0.875rem;
                    }
                }
                ul {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    position: absolute;
                    right: 10px;
                    top: 10px;
                    font-size: 18px;
                    font-size: 1.125rem;
                    line-height: 1;
                    z-index: 2;
                    li {
                        margin-bottom: 5px;
                        animation: fadeIn 0.1s ease;
                            animation-delay: 0s;
                            animation-fill-mode: none;
                        animation-fill-mode: both;
                        display: none;
                        position: relative;
                        a {
                            background-color: var(--color-light);
                            -webkit-border-radius: 0;
                            -moz-border-radius: 0;
                            -ms-border-radius: 0;
                            border-radius: 0;
                            width: 36px;
                            height: 36px;
                            color: var(--color-dark-2);
                            text-align: center;
                            line-height: 40px;
                            display: block;
                            margin: 0;
                            padding: 0;
                            span {
                                display: none;
                            }
                            &:hover {
                                background-color: var(--color-primary);
                                i {
                                    color: var(--color-light);
                                }
                            }
                        }
                        &:nth-child(1) {
                            animation-delay: 0.05s;
                        }
                        &:nth-child(2) {
                            animation-delay: 0.1s;
                        }
                        &:nth-child(3) {
                            animation-delay: 0.15s;
                        }
                    }
                }
                &:hover{
                    ul li {
                        display: block;
                    }
                }
            }
        }
    }
.pagination_section{
    height: 50px;
    padding-top: 20px;
    margin-bottom: 25px;
    position: relative;
    text-align: center;
    width: 100%;
    border-top: 1px solid var(--color-light-7);
    .pagination{
        display: inline-block;
        list-style: none;
        margin: 0;
        padding: 0;
        li{
            display: block;
            float: left;
            padding: 5px;
            &:first-child {
                border: none;
            }
            a{
                background: none;
                border: none;
                border-radius: 50%;
                box-sizing: border-box;
                color: var(--color-transparent-3);
                display: block;
                font-size: 16px;
                height: 40px;
                line-height: 40px;
                min-width: 40px;
                padding: 0;
                outline: none;
                position: relative;
                transition: all 170ms linear;
                &:before {
                    background: var(--color-transparent-4);
                    border-radius: 50%;
                    content: "";
                    cursor: pointer;
                    height: 0;
                    left: 50%;
                    opacity: 0;
                    position: absolute;
                    transform: translate(-50%, -50%);
                    transition: all 170ms linear;
                    top: 50%;
                    width: 0;
                }
                &.active {
                    background: var(--color-transparent-5);
                    color: var(--color-dark-5);
                    cursor: default;
                }
                &:hover:not(.active) {
                    color: var(--color-dark-5);
                    &:before{
                        animation: hoverAnimation 510ms linear forwards;
                        height: 40px;
                        width: 40px;
                    }
                }
            }
        }
        .prev, .next {
            font-size: 14px;
        }
    }
}

}

.top_banner_section{
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 250px;
    color: var(--color-light);
    font-size: 1.125rem;
    overflow: hidden;
    .overlay_content{
        position: absolute;
        left: 0;
        right:0;
        top:0;
        bottom: 0;
        background:  var(--color-transparent-3);
        z-index: 11;
        .breadcrumbs{
            color: var(--color-light);
            ul{
                margin: 0 0 10px 0;
                padding: 0;
                font-size: 0.75rem;
                li{
                    display: inline-block;
                    margin-right: 7px;
                    padding-right: 8px;
                    position: relative;
                    font-weight: 500;
                    &:after{
                        content: "\f105";
                        font-family: 'Font Awesome 5 Free';
                        font-weight: 900;
                        font-size: 0.8rem;
                        position: absolute;
                        display: inline-block;
                        top: 0px;
                        margin-left: 3px;
                    }
                    a{
                        color: var(--color-light);
                        opacity: 0.6;
                        &:hover {
                            color: var(--color-light);
                            opacity: 1;
                        }
                    }
                    &:last-child::after {
                        content: '';
                        margin-right: 0;
                    }
                }
            }
        }
        h1{
            color: var(--color-light);
            font-size: 2rem;
            font-weight: 900;
            text-transform: uppercase;
        }
    }
}

.toolbox_section{
    border-bottom: 1px solid var(--color-light-7);
    margin-bottom: 20px;
    padding: 15px 0 12px 0;
    background-color: var(--color-light-3);
    .container{ 
    > ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li{
            height: 25px;
            line-height: 25px;
            float: right;
            margin-left: 30px;
            &:first-child {
                float: left;
                margin-left: 0;
            }
            .sort_select {
                width: auto;
                overflow: hidden;
                height: 25px;
                line-height: 25px;
                border: none;
                position: relative;
                padding-left: 27px;
                &:after {
                    font-family: 'Font Awesome 5 Free';
                    font-weight: 900;
                    position: absolute;
                    color: var(--color-dark-2);
                    left: 0;
                    top: 0;
                    content: "\f062";
                    font-size: 1rem;
                }
                select {
                    background: transparent;
                    width: 110%;
                    border: 0;
                    -webkit-box-shadow: none;
                    -moz-box-shadow: none;
                    box-shadow: none;
                    height: 25px;
                    margin: 0;
                    -moz-appearance: window;
                    -webkit-appearance: none;
                    cursor: pointer;
                    outline: none;
                    option{
                        font-size:16px;
                    }
                }
            }
            a {
                color: var(--color-dark-2);
                margin-left: 5px;
                span {
                    display: inline-block;
                    margin-left: 5px;
                }
            }
            i {
                font-size: 1rem;
                position: relative;
                top: 3px;
            }
        }

    }
    .filters_listing_1 {
        padding: 15px 0 10px 0;
        &.small-gutters {
            margin-right: -5px !important;
            margin-left: -5px !important;
            > [class*="col-"] {
                padding-right: 5px !important;
                padding-left: 5px !important;
            }
        }
        .dropdown {
            position: relative;
            text-align: left;
            a{
                &.drop {
                color: var(--color-dark-2);
                font-weight: 500;
                transition: all 0.3s;
                display: block;
                position: relative;
                background-color: var(--color-light);
                border: 1px solid var(--color-light-7);
                padding: 10px;
                line-height: 1;
                &:after{
                    font-family: 'Font Awesome 5 Free';
                    font-weight: 900;
                    content: "\f106";
                    font-size: 1rem;
                    color: var(--color-light-5);
                    transition: all 0.3s ease-in-out;
                    position: absolute;
                    right: 10px;
                    top: 10px;
                    border: none;
                }
                }
                &.apply_filter {
                    text-align: center;
                    background-color: var(--color-primary);
                    color: var(--color-light);
                    display: block;
                    padding: 10px 0;
                    line-height: 1;
                    font-weight: 500;
                    border-radius: 3px;
                }
            }
            &.show{
                 a{
                     &:after {
                        transform: rotate(180deg);
                     }
                 }
            }
            .dropdown-menu {
                background: var(--color-light);
                border: none;
                border-radius: 0;
                box-shadow: 0px 5px 10px 0px var(--color-transparent-4);
                padding: 15px;
                white-space: normal;
                width: 100%;
                color: var(--color-dark-2);
                .filter_type {
                    font-size: 0.875rem;
                    ul {
                        list-style: none;
                        padding: 5px 0 0 0;
                        margin: 0 0 15px 0;
                        li {
                            margin-bottom: 5px;
                            padding-left: 0;
                            padding-right: 0;
                        }
                    }
                    label {
                        font-weight: 400;
                        &.container_check {
                            display: block;
                            position: relative;
                            padding-left: 30px;
                            line-height: 1.5;
                            margin-bottom: 8px;
                            cursor: pointer;
                            user-select: none;
                            small {
                                float: right;
                                color: var(--color-light-8);
                                padding-top: 3px;
                            }
                            input {
                                position: absolute;
                                opacity: 0;
                                cursor: pointer;
                                &:checked ~ .checkmark {
                                    background-color: var(--color-primary);
                                    border: 1px solid transparent;
                                }
                                &:checked ~ .checkmark::after {
                                    display: block;
                                }
                            }
                            .checkmark {
                                position: absolute;
                                top: 0;
                                left: 0;
                                height: 20px;
                                width: 20px;
                                border: 1px solid var(--color-light-4);
                                background-color: var(--color-light);
                                border-radius: 3px;
                                transition: all 0.3s ease-in-out;
                                &:after {
                                    content: "";
                                    position: absolute;
                                    display: none;
                                    left: 7px;
                                    top: 3px;
                                    width: 5px;
                                    height: 10px;
                                    border: solid var(--color-light);
                                    border-top-width: medium;
                                    border-right-width: medium;
                                    border-bottom-width: medium;
                                    border-left-width: medium;
                                    border-width: 0 2px 2px 0;
                                    transform: rotate(45deg);
                                }
    
                            }
                        }

                    }
                }
            }
        }
        
    }
    }
    &.fixed_subHeader{
        position: fixed;
        top:58px;
        width: 100%;
        z-index: 111;
        animation: subHeaderAnimate 0.5s ease;
        animation-delay: 0s;
        animation-fill-mode: none;
        background-color: var(--color-primary);
        border-bottom: 1px solid var(--color-primary);
        .container{ 
            > ul {
                li{
                    .sort_select {
                        select{
                            color: var(--color-light);
                            option{
                            color: var(--color-dark);

                            }
                        }
                        &:after{
                            color: var(--color-light);

                        }
                    }
                    a{
                        color: var(--color-light);

                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 768px) and (min-width: 0px){
    .toolbox_section{
        &.fixed_subHeader{
            top:52px;
        }
    }
}
@keyframes fadeIn{
    0%{
        opacity: 0;
        transform: translateX(10px);
    }
    75%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes hoverAnimation{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes subHeaderAnimate{
    0% {
        transform: translateY(-60px);
    }
    100% {
        transform: translateY(0px);
    }
}